In [1]:
import pandas as pd

In [2]:
EPS = 1e-10

In [3]:
result_file = "test_result_w_succ_same_nodes.csv"
df = pd.read_csv(result_file)

df.head()

         Dataset  Actual  Predicted
0  star_graph_n7     0.0        0.0
1  star_graph_n7     0.0        0.0
2  star_graph_n7     0.0        0.0
3  star_graph_n7     0.0        0.0
4  star_graph_n7     0.0        0.0

In [4]:
df['Difference'] = abs(df['Actual']-df['Predicted'])
# df.head()

In [5]:
df['EPS'] = df['Actual'].apply(lambda x: EPS if x==0.0 else 0.0)
# df

In [6]:
df['RE'] = df['Difference']/(df['Actual']+df['EPS'])
# df.head()

In [7]:
df

,Dataset,Actual,Predicted,Difference,EPS,RE
0,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
1,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
2,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
3,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
4,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
...,...,...,...,...,...,...
5275,graph_powerlaw_cluster_graph_n7,2.0,2.190722,0.190722,0.000000e+00,0.095361
5276,graph_powerlaw_cluster_graph_n7,2.0,2.209187,0.209187,0.000000e+00,0.104593
5277,graph_powerlaw_cluster_graph_n7,1.0,1.023422,0.023422,0.000000e+00,0.023422
5278,graph_powerlaw_cluster_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
5279,graph_powerlaw_cluster_graph_n7,1.0,0.968837,0.031163,0.000000e+00,0.031163

In [8]:
df['RE'].sum()/len(df)

0.06980825266603269

# Group by Rank

In [9]:
values_count = df['Actual'].value_counts().reset_index()
# values_count

In [10]:
re_sum = df.groupby('Actual')['RE'].sum().reset_index()

In [11]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['count', 'RE'], ascending=[False, False])
df_result
df_result.to_csv("test_analysis_grp_by_rank.csv", index=False)

# Group by Dataset and Rank

In [12]:
values_count = df[['Dataset', 'Actual']].value_counts().reset_index()
# values_count

In [13]:
re_sum = df.groupby(['Dataset', 'Actual'])['RE'].sum().reset_index()
# re_sum

In [14]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['Dataset', 'count'], ascending=[True, False])
df_result
df_result.to_csv("test_analysis_grp_by_dataset_rank.csv", index=False)