In [1]:
import pandas as pd

In [2]:
EPS = 1e-10

In [3]:
result_file = "test_result_w_succ_same_nodes.csv"
df = pd.read_csv(result_file)

df.head()

         Dataset  Actual  Predicted
0  star_graph_n7     0.0   0.000000
1  star_graph_n7     3.0   3.347145
2  star_graph_n7     0.0   0.000000
3  star_graph_n7     5.0   4.396910
4  star_graph_n7     3.0   2.842145

In [4]:
df['Difference'] = abs(df['Actual']-df['Predicted'])
# df.head()

In [5]:
df['EPS'] = df['Actual'].apply(lambda x: EPS if x==0.0 else 0.0)
# df

In [6]:
df['RE'] = df['Difference']/(df['Actual']+df['EPS'])
# df.head()

In [7]:
df

,Dataset,Actual,Predicted,Difference,EPS,RE
0,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
1,star_graph_n7,3.0,3.347145,0.347145,0.000000e+00,0.115715
2,star_graph_n7,0.0,0.000000,0.000000,1.000000e-10,0.000000
3,star_graph_n7,5.0,4.396910,0.603090,0.000000e+00,0.120618
4,star_graph_n7,3.0,2.842145,0.157855,0.000000e+00,0.052618
...,...,...,...,...,...,...
5298,graph_powerlaw_cluster_graph_n7,3.0,3.038220,0.038220,0.000000e+00,0.012740
5299,graph_powerlaw_cluster_graph_n7,1.0,0.793926,0.206074,0.000000e+00,0.206074
5300,graph_powerlaw_cluster_graph_n7,3.0,2.998275,0.001725,0.000000e+00,0.000575
5301,graph_powerlaw_cluster_graph_n7,2.0,1.920090,0.079910,0.000000e+00,0.039955
5302,graph_powerlaw_cluster_graph_n7,3.0,3.286635,0.286635,0.000000e+00,0.095545

In [8]:
df['RE'].sum()/len(df)

8346.91820968066

# Group by Rank

In [9]:
values_count = df['Actual'].value_counts().reset_index()
# values_count

In [10]:
re_sum = df.groupby('Actual')['RE'].sum().reset_index()

In [11]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['count', 'RE'], ascending=[False, False])
df_result

   Actual  count            RE
0     3.0   1693  1.346036e+02
1     2.0   1656  1.591453e+02
2     1.0    933  9.107976e+01
3     4.0    675  5.267870e+01
4     0.0    272  4.426326e+07
5     5.0     74  8.388223e+00

# Group by Dataset and Rank

In [12]:
values_count = df[['Dataset', 'Actual']].value_counts().reset_index()
# values_count

In [13]:
re_sum = df.groupby(['Dataset', 'Actual'])['RE'].sum().reset_index()
# re_sum

In [14]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['Dataset', 'count'], ascending=[True, False])
df_result

                             Dataset  Actual  count            RE
4    graph_powerlaw_cluster_graph_n7     2.0    453  5.720724e+01
5    graph_powerlaw_cluster_graph_n7     1.0    390  4.156522e+01
6    graph_powerlaw_cluster_graph_n7     3.0    274  2.416994e+01
8    graph_powerlaw_cluster_graph_n7     4.0    121  9.450717e+00
9    graph_powerlaw_cluster_graph_n7     0.0     96  0.000000e+00
11   graph_powerlaw_cluster_graph_n7     5.0     16  1.407085e+00
0   graph_random_regular_graph_n7_d4     3.0   1413  1.099426e+02
1   graph_random_regular_graph_n7_d4     2.0   1200  1.011028e+02
2   graph_random_regular_graph_n7_d4     4.0    553  4.314207e+01
3   graph_random_regular_graph_n7_d4     1.0    542  4.875850e+01
7   graph_random_regular_graph_n7_d4     0.0    144  0.000000e+00
10  graph_random_regular_graph_n7_d4     5.0     55  6.644111e+00
12                   random_graph_n7     0.0     16  4.426326e+07
15                   random_graph_n7     2.0      2  5.457245e-01
16                   random_graph_n7     3.0      2  2.175531e-01
17                   random_graph_n7     5.0      2  2.164090e-01
18                   random_graph_n7     1.0      1  7.560419e-01
13                     star_graph_n7     0.0     16  0.000000e+00
14                     star_graph_n7     3.0      4  2.735697e-01
19                     star_graph_n7     2.0      1  2.895132e-01
20                     star_graph_n7     4.0      1  8.591861e-02
21                     star_graph_n7     5.0      1  1.206180e-01