In [1]:
import pandas as pd

In [2]:
EPS = 1

In [3]:
result_file = "test_result_w_succ_same_nodes_journ.csv"
df = pd.read_csv(result_file)

df.head()

         Dataset  Actual  Predicted
0  star_graph_n7     0.0   0.000000
1  star_graph_n7     0.0   0.000000
2  star_graph_n7     0.0   0.000000
3  star_graph_n7     0.0   0.212456
4  star_graph_n7     0.0   0.000000

In [4]:
df['Difference'] = abs(df['Actual']-df['Predicted'])
df['Difference_sq'] = df['Difference']**2
# df.head()

In [5]:
df['EPS'] = df['Actual'].apply(lambda x: EPS if x==0.0 else 0.0)
# df

In [6]:
df['RE'] = df['Difference']/(df['Actual']+df['EPS'])
# df.head()

In [7]:
df

,Dataset,Actual,Predicted,Difference,Difference_sq,EPS,RE
0,star_graph_n7,0.0,0.000000,0.000000,0.000000,1.0,0.000000
1,star_graph_n7,0.0,0.000000,0.000000,0.000000,1.0,0.000000
2,star_graph_n7,0.0,0.000000,0.000000,0.000000,1.0,0.000000
3,star_graph_n7,0.0,0.212456,0.212456,0.045137,1.0,0.212456
4,star_graph_n7,0.0,0.000000,0.000000,0.000000,1.0,0.000000
...,...,...,...,...,...,...,...
5275,graph_powerlaw_cluster_graph_n7,2.0,1.981931,0.018069,0.000326,0.0,0.009034
5276,graph_powerlaw_cluster_graph_n7,2.0,2.245614,0.245614,0.060326,0.0,0.122807
5277,graph_powerlaw_cluster_graph_n7,2.0,2.505203,0.505203,0.255230,0.0,0.252601
5278,graph_powerlaw_cluster_graph_n7,1.0,0.998277,0.001723,0.000003,0.0,0.001723
5279,graph_powerlaw_cluster_graph_n7,3.0,2.993948,0.006052,0.000037,0.0,0.002017

In [8]:
df['RE'].sum()/len(df)

0.07012998018997034

# Group by Rank

In [9]:
values_count = df['Actual'].value_counts().reset_index()
# values_count

In [10]:
re_sum = df.groupby('Actual')['RE'].sum().reset_index()
# re_sum

In [11]:
mre_error = df.groupby('Actual')['RE'].mean().reset_index()
mre_error = mre_error.rename(columns={'RE': 'MRE'})
# mre_error

In [ ]:
mse_error = df.groupby('Actual')['Difference_sq'].mean().reset_index()
mse_error = mse_error.rename(columns={'Difference_sq': 'MSE'})
mse_error

,Dataset,Actual,Predicted,Difference,Difference_sq,EPS,RE
4739,graph_powerlaw_cluster_graph_n7,6.0,4.510718,1.489282,2.21796,0.0,0.248214

In [13]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['count', 'RE'], ascending=[False, False])
df_result = pd.merge(df_result, mre_error)
df_result = pd.merge(df_result, mse_error)
df_result.to_csv("test_analysis_grp_by_rank.csv", index=False)
df_result

NameError: name 'mse_error' is not defined

# Group by Dataset and Rank

In [ ]:
values_count = df[['Dataset', 'Actual']].value_counts().reset_index()
# values_count

In [ ]:
re_sum = df.groupby(['Dataset', 'Actual'])['RE'].sum().reset_index()
# re_sum

In [ ]:
mre_error = df.groupby(['Dataset', 'Actual'])['RE'].mean().reset_index()
mre_error = mre_error.rename(columns={'RE': 'MRE'})

In [ ]:
mse_error = df.groupby(['Dataset', 'Actual'])['Difference_sq'].mean().reset_index()
mse_error = mse_error.rename(columns={'Difference_sq': 'MSE'})

In [ ]:
df_result = pd.merge(values_count, re_sum).sort_values(by=['Dataset', 'count'], ascending=[True, False])
df_result = pd.merge(df_result, mre_error)
df_result = pd.merge(df_result, mse_error)
df_result.to_csv("test_analysis_grp_by_dataset_rank.csv", index=False)
df_result

,Dataset,Actual,count,RE,MRE,MSE
0,graph_powerlaw_cluster_graph_n7,2.0,458,45.634205,0.099638,0.069916
1,graph_powerlaw_cluster_graph_n7,1.0,344,15.692986,0.045619,0.003269
2,graph_powerlaw_cluster_graph_n7,3.0,333,36.282683,0.108957,0.172131
3,graph_powerlaw_cluster_graph_n7,4.0,104,7.101671,0.068285,0.112460
4,graph_powerlaw_cluster_graph_n7,0.0,94,0.000000,0.000000,0.000000
5,graph_powerlaw_cluster_graph_n7,5.0,16,1.046173,0.065386,0.201500
6,graph_powerlaw_cluster_graph_n7,6.0,1,0.248214,0.248214,2.217960
7,graph_random_regular_graph_n7_d4,3.0,1412,106.421968,0.075370,0.101115
8,graph_random_regular_graph_n7_d4,2.0,1196,95.258718,0.079648,0.049919
9,graph_random_regular_graph_n7_d4,1.0,567,16.018938,0.028252,0.001139
10,graph_random_regular_graph_n7_d4,4.0,557,41.788364,0.075024,0.137606
11,graph_random_regular_graph_n7_d4,0.0,130,0.000000,0.000000,0.000000
12,graph_random_regular_graph_n7_d4,5.0,45,3.904891,0.086775,0.292089
13,star_graph_n7,0.0,19,0.212456,0.011182,0.002376
14,star_graph_n7,3.0,2,0.358705,0.179352,0.289506
15,star_graph_n7,1.0,1,0.196349,0.196349,0.038553
16,star_graph_n7,2.0,1,0.119974,0.119974,0.057575