In [1]:
import os

import pandas as pd

In [2]:
def get_dataset(program, dataset_file):
    dataset_dir = os.path.join(
        os.getenv("CVF_PROJECT_DIR", ""), "cvf-analysis", "v2", "datasets", program
    )
    return pd.read_csv(os.path.join(dataset_dir, dataset_file))

In [3]:
df = get_dataset(
    "coloring",
    "graph_powerlaw_cluster_graph_n9_config_rank_dataset.csv",
)['rank'].value_counts().to_frame()

df

       count
rank
2     380172
3     367833
1     235578
4     228636
5      86880
0      65313
6      16908
7       1077
8          3

In [4]:
df['percent'] = (df['count']/df['count'].sum() * 100).round(2)
# df.to_csv("graph_random_regular_graph_n8_d4_analyze_dataset.csv")

In [5]:
df

       count  percent
rank
2     380172    27.50
3     367833    26.61
1     235578    17.04
4     228636    16.54
5      86880     6.28
0      65313     4.72
6      16908     1.22
7       1077     0.08
8          3     0.00

In [6]:
df['total_rank'] = df['count'] * df.index
df

       count  percent  total_rank
rank
2     380172    27.50      760344
3     367833    26.61     1103499
1     235578    17.04      235578
4     228636    16.54      914544
5      86880     6.28      434400
0      65313     4.72           0
6      16908     1.22      101448
7       1077     0.08        7539
8          3     0.00          24

In [7]:
df['total_rank'].sum()

3557376

In [8]:
df['count'].sum()

1382400