In [1]:
import pandas as pd

In [ ]:
filename = "graph_2_node__FE_1-0__N1000000__FI_7-7__H5__L100.csv"

In [3]:
df = pd.read_csv(filename)

In [4]:
df

             SN  Steps  Lmt Reach  PT 0  PT 1
0             1      6      False     2     2
1             2      6      False     2     2
2             3      3      False     1     0
3             4      6      False     3     2
4             5      6      False     2     2
...         ...    ...        ...   ...   ...
999995   999996      6      False     2     3
999996   999997      6      False     3     2
999997   999998      6      False     3     2
999998   999999      5      False     3     0
999999  1000000      5      False     3     0

[1000000 rows x 5 columns]

In [5]:
steps = df['Steps']
steps

0         6
1         6
2         3
3         6
4         6
         ..
999995    6
999996    6
999997    6
999998    5
999999    5
Name: Steps, Length: 1000000, dtype: int64

In [6]:
steps.value_counts()

Steps
6     466131
3     133688
5     117020
4      99749
8      72268
9      50136
7      33520
10     13761
12     10288
14      2307
16       548
18       423
20       107
22        24
24        21
26         8
30         1
Name: count, dtype: int64

In [7]:
steps.value_counts().sort_index().to_csv(f"vc_{filename}")

In [8]:
steps.value_counts().sort_index()

Steps
3     133688
4      99749
5     117020
6     466131
7      33520
8      72268
9      50136
10     13761
12     10288
14      2307
16       548
18       423
20       107
22        24
24        21
26         8
30         1
Name: count, dtype: int64