In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "graph_7__0__100000__False__5__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          3  4  4  4  4  3  3  4  4  3
2          2  2  2  2  1  2  1  2  2  1
3          2  2  3  1  2  3  2  3  3  1
4          2  1  2  2  2  1  2  2  2  2
5          1  2  1  2  2  1  1  1  2  2

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,40257,40234,40373,40584,40119,40336,40173,40243,40278,40378
2,30307,30122,30154,30125,30350,30240,30376,30247,30526,30138
3,17764,17865,17813,17673,17885,17741,17839,17967,17553,17814
4,7836,7958,7954,7918,7922,7841,7815,7829,7821,7900
5,2865,2829,2736,2707,2741,2827,2796,2739,2817,2784
6,245,97,96,81,79,402,86,107,94,89
7,356,440,388,448,340,338,409,394,407,398
8,206,377,395,382,453,154,413,387,419,416
9,111,76,83,79,106,56,87,84,75,77
10,43,2,8,3,5,41,6,3,10,6
11,9,0,0,0,0,16,0,0,0,0
12,1,0,0,0,0,6,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1       40257   40119   40336   40378
2       30307   30350   30240   30138
3       17764   17885   17741   17814
4        7836    7922    7841    7900
5        2865    2741    2827    2784
6         245      79     402      89
7         356     340     338     398
8         206     453     154     416
9         111     106      56      77
10         43       5      41       6
11          9       0      16       0
12          1       0       6       0
13          0       0       1       0
15          0       0       1       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % (len(agg_df.columns)-1)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)