In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "graph_powerlaw_cluster_graph_n30__0__100000__False__10__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
Iteration,,,,,,,,,,,,,,,,,,,,,
1,6,6,7,6,7,5,6,6,7,5,...,6,6,5,6,6,6,5,7,6,7
2,9,8,10,9,12,12,8,13,10,9,...,13,8,8,10,10,9,9,9,12,8
3,8,10,8,9,8,10,9,9,9,10,...,8,10,9,9,8,8,9,8,8,9
4,12,9,10,10,11,11,10,13,12,12,...,12,10,12,10,13,15,10,14,12,13
5,13,16,14,15,13,10,10,14,14,15,...,15,10,14,16,17,12,16,15,14,16

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,...,Node_20,Node_21,Node_22,Node_23,Node_24,Node_25,Node_26,Node_27,Node_28,Node_29
Steps,,,,,,,,,,,,,,,,,,,,,
1,366,355,373,362,368,369,367,374,369,359,...,352,377,369,368,358,378,364,363,364,360
2,1591,1622,1578,1611,1606,1600,1564,1595,1589,1600,...,1626,1584,1603,1597,1585,1611,1607,1581,1608,1597
3,4437,4425,4458,4458,4458,4425,4433,4436,4460,4501,...,4424,4470,4509,4415,4523,4413,4453,4479,4422,4461
4,9056,9094,9001,8973,8975,8968,8990,8922,9026,8973,...,8960,8981,9021,9040,8909,9067,8972,9070,9080,8947
5,13810,13749,13829,13818,13843,13772,13994,13859,13728,13789,...,13861,13760,13787,13854,13870,13765,13892,13845,13898,13807
6,16670,16882,16796,16958,16823,16903,16763,16754,16921,16736,...,16833,16910,16626,16730,16846,16800,16661,16885,16677,16887
7,16909,16794,16907,16807,16763,17102,16914,16898,16845,16951,...,16859,16727,16915,16991,16665,16762,16945,16699,16935,16925
8,14294,14256,14217,14208,14354,14232,14152,14382,14264,14276,...,14231,14295,14297,14096,14474,14297,14216,14209,14299,14275
9,10235,10338,10394,10183,10264,10122,10318,10192,10252,10319,...,10331,10336,10313,10439,10227,10402,10375,10252,10188,10175
10,6471,6387,6403,6551,6375,6416,6294,6412,6429,6448,...,6393,6399,6386,6294,6483,6442,6475,6501,6359,6318
11,372,184,243,103,155,252,109,119,171,120,...,79,116,105,117,123,115,120,120,107,103
12,2098,1635,1805,1499,1546,1833,1450,1426,1593,1328,...,2580,1716,1884,1996,1464,1578,1735,1615,1646,1960
13,1704,1990,1788,2387,2177,1852,2440,2317,2055,2230,...,2030,2423,2453,2313,2398,2526,2375,2413,2436,2389
14,1029,1247,1164,1293,1351,1150,1379,1436,1284,1403,...,955,1241,1055,1088,1253,1154,1121,1246,1266,1143
15,525,645,599,515,623,586,549,583,649,638,...,318,436,447,461,542,480,465,485,471,400
16,251,259,285,197,227,269,211,209,252,239,...,112,162,168,147,209,145,163,164,156,180
17,116,87,113,62,68,105,47,61,77,68,...,39,47,50,39,52,50,45,55,62,56
18,49,38,31,13,17,28,23,20,25,15,...,9,16,10,12,18,10,12,13,24,13
19,9,10,7,1,4,12,2,5,9,6,...,8,4,1,3,1,5,3,3,2,3
20,6,3,6,1,2,3,1,0,1,1,...,0,0,1,0,0,0,1,1,0,0
21,2,0,3,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df = agg_df[['Node_0', 'Node_1', 'Node_5', 'Node_26', 'Node_29']]
agg_df

       Node_0  Node_1  Node_5  Node_26  Node_29
Steps
1         366     355     369      364      360
2        1591    1622    1600     1607     1597
3        4437    4425    4425     4453     4461
4        9056    9094    8968     8972     8947
5       13810   13749   13772    13892    13807
6       16670   16882   16903    16661    16887
7       16909   16794   17102    16945    16925
8       14294   14256   14232    14216    14275
9       10235   10338   10122    10375    10175
10       6471    6387    6416     6475     6318
11        372     184     252      120      103
12       2098    1635    1833     1735     1960
13       1704    1990    1852     2375     2389
14       1029    1247    1150     1121     1143
15        525     645     586      465      400
16        251     259     269      163      180
17        116      87     105       45       56
18         49      38      28       12       13
19          9      10      12        3        3
20          6       3       3        1        0
21          2       0       1        0        1

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % (len(agg_df.columns)-1)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)