In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "graph_7__0__500000__False__10__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          3  3  2  3  3  3  3  3  3  2
2          2  2  2  2  2  2  2  2  2  2
3          2  2  2  1  2  2  1  2  2  1
4          3  1  3  2  3  3  1  3  3  3
5          4  1  3  3  4  1  3  3  3  4

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,200198,200393,200417,200254,200034,200319,200512,200010,200075,200374
2,152252,152168,152468,152219,152440,152286,152022,152275,152309,152067
3,89414,89329,89047,89189,89309,89095,89303,89548,89333,89062
4,39162,39223,39052,39414,39364,39574,39344,39183,39364,39593
5,13991,13912,13912,13956,13906,13805,13740,13893,13899,13994
6,4032,4073,4196,4081,4040,4042,4171,4111,4089,4015
7,859,791,823,788,810,787,811,871,843,812
8,91,108,84,97,96,92,96,107,86,83
9,1,3,1,2,1,0,1,2,2,0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1      200198  200034  200319  200374
2      152252  152440  152286  152067
3       89414   89309   89095   89062
4       39162   39364   39574   39593
5       13991   13906   13805   13994
6        4032    4040    4042    4015
7         859     810     787     812
8          91      96      92      83
9           1       1       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % (len(agg_df.columns)-1)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)