In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "graph_7__0__1000000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          2  2  2  2  2  1  2  2  2  1
2          3  3  3  3  3  3  3  2  3  4
3          1  2  2  1  2  2  2  2  1  2
4          2  1  2  2  3  3  3  1  3  3
5          7  2  6  6  2  4  4  3  3  7

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,400686,400729,400660,400802,400514,400540,400582,401153,400404,400862
2,304595,304262,305045,304834,304337,305701,305395,304812,305304,304802
3,178592,179072,178668,178587,179356,177983,178087,178293,178400,178316
4,78729,78571,78163,78525,78276,78449,78427,77943,78535,78706
5,7930,2626,2712,2607,2430,14579,3325,3290,3303,3279
6,13245,16509,16540,16407,12387,11678,14434,14489,14286,14257
7,9249,13743,13655,13777,17574,5455,15012,15248,15106,15070
8,4544,3755,3848,3755,4364,2919,3980,4002,3911,3992
9,1832,661,650,649,705,1811,689,719,691,647
10,266,13,15,4,16,438,15,8,9,14
11,162,29,22,26,21,250,25,18,28,17
12,108,30,22,25,19,93,28,25,21,38
13,46,0,0,2,1,64,1,0,2,0
14,14,0,0,0,0,30,0,0,0,0
15,0,0,0,0,0,5,0,0,0,0
16,1,0,0,0,0,3,0,0,0,0
17,1,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_0', 'Node_1', 'Node_5', 'Node_26', 'Node_29']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1      400686  400514  400540  400862
2      304595  304337  305701  304802
3      178592  179356  177983  178316
4       78729   78276   78449   78706
5        7930    2430   14579    3279
6       13245   12387   11678   14257
7        9249   17574    5455   15070
8        4544    4364    2919    3992
9        1832     705    1811     647
10        266      16     438      14
11        162      21     250      17
12        108      19      93      38
13         46       1      64       0
14         14       0      30       0
15          0       0       5       0
16          1       0       3       0
17          1       0       0       0
18          0       0       1       0
19          0       0       1       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)