In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "graph_7__0__500000__False__6__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          2  2  2  2  2  2  2  2  2  2
2          1  1  1  1  1  1  1  1  1  1
3          1  1  1  1  1  1  1  1  1  1
4          1  2  2  1  2  2  2  2  2  1
5          3  3  1  3  1  3  2  1  3  3

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,200282,200412,200206,199999,199996,199998,199915,200124,200461,200047
2,152217,152216,152346,152240,152371,151924,152497,152361,151933,152377
3,89520,89298,89268,89462,89614,89843,89547,89416,89379,89584
4,39293,39219,39426,39491,39382,39331,39389,39366,39338,39335
5,13686,13805,13686,13751,13675,13953,13546,13672,13840,13717
6,4094,4130,4092,4106,4006,4025,4182,4086,4084,3974
7,220,99,90,92,100,359,91,108,118,90
8,351,402,424,412,341,305,356,368,374,387
9,186,386,429,415,461,128,446,461,442,440
10,97,33,33,32,53,72,29,37,31,49
11,37,0,0,0,1,35,2,1,0,0
12,14,0,0,0,0,20,0,0,0,0
13,3,0,0,0,0,7,0,0,0,0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1      200282  199996  199998  200047
2      152217  152371  151924  152377
3       89520   89614   89843   89584
4       39293   39382   39331   39335
5       13686   13675   13953   13717
6        4094    4006    4025    3974
7         220     100     359      90
8         351     341     305     387
9         186     461     128     440
10         97      53      72      49
11         37       1      35       0
12         14       0      20       0
13          3       0       7       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % (len(agg_df.columns)-1)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)