In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"
results_dir = "maximal_independent_set"

In [3]:
raw_result_filename = "graph_1__0__1000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

            0   1  2   3   4   5  6   7   8   9
Iteration
1           6   7  6   6   6   6  6   5   6   5
2          11  10  9  10  10  11  9  11  10  13
3           5   5  6   4   5   6  4   4   4   4
4           5   6  6   6   7   7  8   7   7   6
5           3   4  3   3   4   4  4   4   4   4

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,15,10,15,14,14,15,13,13,15,14
2,34,28,30,32,32,22,30,35,35,33
3,63,73,74,65,71,72,59,63,53,65
4,93,115,108,118,99,124,104,113,117,106
5,149,162,161,141,176,133,162,137,129,150
6,191,177,163,192,163,183,194,204,192,178
7,145,145,151,153,155,163,163,165,165,149
8,120,130,127,124,119,126,114,116,109,140
9,107,80,94,86,87,85,86,76,97,82
10,58,53,50,46,56,43,47,51,62,49
11,17,21,16,18,22,25,21,16,19,17
12,3,4,6,7,4,7,4,6,5,13
13,4,2,5,3,2,1,2,5,1,4
14,1,0,0,1,0,1,1,0,1,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_7', 'Node_9']]
# agg_df = agg_df[['Node_1', 'Node_3', 'Node_7', 'Node_8']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_7  Node_9
Steps
1          15      14      13      14
2          34      32      35      33
3          63      71      63      65
4          93      99     113     106
5         149     176     137     150
6         191     163     204     178
7         145     155     165     149
8         120     119     116     140
9         107      87      76      82
10         58      56      51      49
11         17      22      16      17
12          3       4       6      13
13          4       2       5       4
14          1       0       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

/home/agaru/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
/home/agaru/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [ ]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Simulations - Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [ ]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/{results_dir}/simulations__agg__{raw_result_filename}.png", dpi=500)