In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"

In [3]:
raw_result_filename = "implicit_graph_n15__0__500000__False__1__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Iteration,,,,,,,,,,,,,,,
1,136,96,91,21,52,66,88,104,53,91,41,49,173,33,34
2,69,68,130,68,142,48,37,195,139,314,79,83,99,40,45
3,97,60,54,24,104,46,109,22,26,21,106,81,22,62,67
4,30,78,86,124,73,132,49,72,80,23,29,73,94,43,35
5,25,378,131,84,159,213,61,33,65,53,110,47,53,37,19

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,Node_10,Node_11,Node_12,Node_13,Node_14
Steps,,,,,,,,,,,,,,,
1,29,37,32,33,30,27,17,31,34,31,36,30,34,24,24
2,44,30,27,46,25,34,33,30,33,41,31,30,30,52,32
3,99,81,72,89,77,84,71,92,82,62,86,64,59,74,84
4,117,118,94,114,98,107,111,85,98,101,106,103,91,129,114
5,264,232,208,222,217,249,217,193,234,180,213,211,190,263,323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
644,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
674,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
690,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1          29      30      27      31
2          44      25      34      41
3          99      77      84      62
4         117      98     107     101
5         264     217     249     180
...       ...     ...     ...     ...
639         0       0       0       0
644         0       1       0       0
673         0       1       0       0
674         0       0       0       0
690         0       0       0       0

[570 rows x 4 columns]

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)