In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [ ]:
raw_result_filename = "graph_powerlaw_cluster_graph_n30__0__500000__False__5__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
Iteration,,,,,,,,,,,,,,,,,,,,,
1,8,8,8,8,9,9,8,7,8,7,...,8,9,8,7,6,8,9,9,7,9
2,8,7,7,9,9,7,9,9,9,9,...,7,9,7,7,8,8,9,9,8,8
3,6,6,5,6,5,4,4,6,6,4,...,4,6,5,6,6,6,6,5,6,5
4,4,4,4,4,4,5,4,5,4,5,...,4,5,4,4,4,4,4,3,4,5
5,12,13,14,15,12,13,10,14,13,14,...,14,13,13,15,13,17,14,14,10,16

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,...,Node_20,Node_21,Node_22,Node_23,Node_24,Node_25,Node_26,Node_27,Node_28,Node_29
Steps,,,,,,,,,,,,,,,,,,,,,
1,1836,1828,1838,1831,1834,1805,1807,1810,1828,1809,...,1818,1817,1827,1813,1871,1819,1842,1822,1805,1806
2,8031,8054,8068,8088,8057,8091,8051,8078,8062,8056,...,8063,8032,8031,8087,7995,8016,8028,8076,8069,8029
3,22380,22432,22407,22369,22419,22537,22364,22607,22281,22441,...,22472,22367,22571,22484,22515,22448,22456,22347,22508,22460
4,45173,45237,45293,45046,44882,44829,45114,44738,45089,45188,...,44999,45060,44874,44849,45198,44865,44892,44982,44889,45206
5,68936,68699,68445,68885,68854,68767,68966,68878,68571,68377,...,68951,69084,68583,68902,68607,69219,68754,69029,68952,68477
6,83566,83469,83977,83505,83936,83851,83483,84193,84114,84035,...,83338,83522,84515,83535,83936,83829,83686,83910,83688,83695
7,84633,84647,84111,84686,84342,84310,84395,84164,84160,84042,...,84701,84637,84176,84620,84100,84096,84728,84101,84263,84414
8,71264,71019,71612,71162,71328,71313,71417,71757,71274,71462,...,71021,71177,71076,71189,71176,71349,71309,71599,71411,71420
9,51230,51650,51382,51625,51359,51325,51372,50979,51546,51886,...,51442,51343,51551,51453,51605,51278,51362,51584,51605,51494
10,31832,31939,32100,31797,31952,32010,31982,31833,31972,31668,...,32163,32131,31909,32046,31849,32095,31889,31473,31975,32088
11,1685,929,1219,598,776,1287,533,572,854,641,...,449,539,545,540,568,513,547,591,534,557
12,10289,8298,9042,7655,7839,9385,7279,7017,8004,6845,...,12866,8384,9371,10118,7437,8235,8995,8356,8245,9583
13,8691,9984,9245,12063,10772,9396,12067,11895,10528,11655,...,10384,12260,12354,11374,12437,12611,12000,12256,12029,11726
14,5174,6643,5957,6606,6640,5910,6820,6969,6669,7062,...,4691,6138,5489,5731,6648,6144,6034,6201,6329,5702
15,2809,3199,3153,2623,3201,2961,2880,3005,3176,3167,...,1772,2359,2105,2201,2749,2334,2328,2461,2473,2292
16,1440,1303,1412,1052,1264,1401,1038,1044,1291,1150,...,616,805,721,729,909,796,825,871,834,767
17,635,484,522,310,387,569,328,326,413,367,...,189,246,220,251,295,253,240,233,289,204
18,278,133,145,69,116,185,82,100,124,111,...,46,81,68,54,84,80,70,81,78,60
19,79,36,56,24,37,53,17,26,30,24,...,11,13,11,20,17,14,12,22,20,17
20,28,16,12,5,3,14,4,7,10,10,...,8,4,3,4,2,5,2,5,4,3
21,10,1,3,1,1,1,1,1,4,4,...,0,1,0,0,2,0,1,0,0,0
23,1,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df = agg_df[['Node_0', 'Node_1', 'Node_5', 'Node_26', 'Node_29']]
agg_df

       Node_0  Node_1  Node_5  Node_26  Node_29
Steps
1        1836    1828    1805     1842     1806
2        8031    8054    8091     8028     8029
3       22380   22432   22537    22456    22460
4       45173   45237   44829    44892    45206
5       68936   68699   68767    68754    68477
6       83566   83469   83851    83686    83695
7       84633   84647   84310    84728    84414
8       71264   71019   71313    71309    71420
9       51230   51650   51325    51362    51494
10      31832   31939   32010    31889    32088
11       1685     929    1287      547      557
12      10289    8298    9385     8995     9583
13       8691    9984    9396    12000    11726
14       5174    6643    5910     6034     5702
15       2809    3199    2961     2328     2292
16       1440    1303    1401      825      767
17        635     484     569      240      204
18        278     133     185       70       60
19         79      36      53       12       17
20         28      16      14        2        3
21         10       1       1        1        0
23          1       0       0        0        0
24          0       0       0        0        0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)