In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"
results_dir = "maximal_independent_set"

In [3]:
raw_result_filename = "graph_10__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9  10
Iteration
1          7  5  5  6  7  7  7  7  8  6   7
2          5  6  7  8  5  7  7  8  6  6   6
3          4  6  6  6  4  4  5  6  5  5   4
4          9  6  7  6  7  6  6  8  7  6   7
5          9  8  8  7  6  8  7  8  7  6   8

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,Node_10
Steps,,,,,,,,,,,
1,716,734,740,744,702,751,754,700,727,747,750
2,2166,2137,2105,2159,2133,2150,2122,2104,2051,2138,2132
3,4686,4602,4682,4594,4639,4654,4703,4674,4747,4627,4658
4,7545,7931,7852,7957,7593,7931,7875,7573,7829,7877,7822
5,11353,11625,11728,11619,11369,11597,11756,11379,11625,11608,11630
6,15546,15722,15613,15690,16013,15619,15733,15673,15782,15746,15797
7,16364,16351,16405,16465,16534,16418,16412,16320,16249,16309,16227
8,14456,14376,14437,14402,14330,14568,14326,14523,14553,14289,14481
9,11662,11404,11371,11536,11406,11534,11353,11639,11424,11530,11497
10,8249,8026,7918,7830,8078,7867,7860,8221,7942,7964,8015
11,4021,3861,3978,3866,3914,3764,3944,4009,3915,4017,3825
12,1836,1865,1782,1749,1837,1742,1773,1750,1756,1772,1805
13,907,894,892,888,926,884,842,930,922,877,854
14,380,344,354,362,370,363,373,395,355,367,377
15,86,110,107,105,122,119,131,90,95,96,97
16,20,11,24,22,24,28,29,17,21,25,23
17,5,5,6,6,6,8,9,2,3,9,5
18,1,2,5,5,2,3,3,1,2,2,5
19,1,0,1,1,2,0,1,0,2,0,0
20,0,0,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_dfÏ€
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_7', 'Node_9']]
# agg_df = agg_df[['Node_1', 'Node_3', 'Node_7', 'Node_8']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_7  Node_9
Steps
1         716     702     700     747
2        2166    2133    2104    2138
3        4686    4639    4674    4627
4        7545    7593    7573    7877
5       11353   11369   11379   11608
6       15546   16013   15673   15746
7       16364   16534   16320   16309
8       14456   14330   14523   14289
9       11662   11406   11639   11530
10       8249    8078    8221    7964
11       4021    3914    4009    4017
12       1836    1837    1750    1772
13        907     926     930     877
14        380     370     395     367
15         86     122      90      96
16         20      24      17      25
17          5       6       2       9
18          1       2       1       2
19          1       2       0       0
20          0       0       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Simulations - Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/{results_dir}/simulations__agg__{raw_result_filename}.png", dpi=500)