In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [3]:
raw_result_filename = "random_graph_diff_degree_1__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6
Iteration
1          2  2  2  2  2  2  2
2          2  2  2  2  2  2  2
3          2  2  2  2  2  2  2
4          2  2  2  2  2  2  2
5          2  2  2  2  2  2  2

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

       Node_0  Node_1  Node_2  Node_3  Node_4  Node_5  Node_6
Steps
1       39081   39036   39105   39098   39106   39168   39111
2       40403   40388   40285   40352   40252   40155   40301
3       17227   17241   17237   17174   17298   17355   17225
4        3058    3111    3144    3138    3098    3093    3121
5          21      29      44      73      17      14      35
6         111      69      88      83      79      86     103
7          97     115      88      61     135     122     104
8           2      11       9      21      15       7       0

In [8]:
# save agg_df
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_0', 'Node_1', 'Node_5', 'Node_26', 'Node_29']]
agg_df

       Node_0  Node_1  Node_2  Node_3  Node_4  Node_5  Node_6
Steps
1       39081   39036   39105   39098   39106   39168   39111
2       40403   40388   40285   40352   40252   40155   40301
3       17227   17241   17237   17174   17298   17355   17225
4        3058    3111    3144    3138    3098    3093    3121
5          21      29      44      73      17      14      35
6         111      69      88      83      79      86     103
7          97     115      88      61     135     122     104
8           2      11       9      21      15       7       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)