In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"

In [3]:
raw_result_filename = "graph_random_regular_graph_n10_d4__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

            0   1   2   3   4   5   6   7   8   9
Iteration
1          42  32  32  32  50  42  34  30  36  36
2          38  20  18  24  26  32  22  24  28  30
3          40  36  40  32  38  38  28  30  30  44
4          26  32  40  28  32  30  24  36  36  30
5          31  41  37  33  43  49  31  49  39  37

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
3,2,1,0,0,1,2,0,1,1,0
4,1,2,0,0,4,2,1,0,1,1
5,0,2,3,3,1,3,5,3,2,1
6,4,8,3,3,5,5,3,3,2,3
7,9,13,8,9,13,10,10,10,8,9
...,...,...,...,...,...,...,...,...,...,...
90,0,0,0,0,1,0,0,0,0,0
91,0,0,0,0,1,0,0,0,0,0
95,0,0,0,1,1,0,0,0,0,0
96,0,0,0,0,1,0,0,0,0,0
98,1,0,0,1,0,0,0,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
3           2       1       2       0
4           1       4       2       1
5           0       1       3       1
6           4       5       5       3
7           9      13      10       9
...       ...     ...     ...     ...
90          0       1       0       0
91          0       1       0       0
95          0       1       0       0
96          0       1       0       0
98          1       0       0       0

[92 rows x 4 columns]

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)