In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"

In [ ]:
raw_result_filename = "implicit_graph_n5__0__500000__False__2__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4
Iteration
1          1  1  1  1  1
2          4  2  8  3  4
3          1  1  1  1  1
4          7  3  4  3  4
5          4  1  1  5  6

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

       Node_0  Node_1  Node_2  Node_3  Node_4
Steps
1      129841  132599  132936  131137  124825
2      108381  102511   96179  102449  106103
3       80506   76392   78723   79122   83550
4       57987   55989   59819   58102   64329
5       39432   42100   44448   43549   45371
6       25577   29074   31031   30630   29160
7       17369   20127   20134   20648   18297
8       11833   13563   12883   13365   11226
9        8345    9487    8550    8358    6882
10       6033    6727    5581    5260    4363
11       4134    4236    3492    3005    2389
12       3043    2601    2183    1823    1330
13       2137    1581    1398    1060     839
14       1520     955     912     661     526
15       1140     756     629     349     341
16        768     496     405     218     179
17        537     272     268     112     114
18        421     177     156      65      66
19        296     131      99      27      51
20        195      89      62      29      29
21        132      50      38      13      10
22        107      30      36       9       9
23         81      27      10       4       3
24         52       5      13       2       1
25         38      10       4       2       3
26         27       6       3       0       1
27         20       5       2       0       0
28         12       1       2       1       1
29         13       1       3       0       0
30          7       1       1       0       0
31          7       0       0       0       1
32          5       0       0       0       0
33          1       0       0       0       1
34          2       0       0       0       0
38          0       1       0       0       0
40          1       0       0       0       0

In [8]:
# save agg_dfÏ€
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_1  Node_2  Node_3  Node_4
Steps
1      129841  132599  132936  131137  124825
2      108381  102511   96179  102449  106103
3       80506   76392   78723   79122   83550
4       57987   55989   59819   58102   64329
5       39432   42100   44448   43549   45371
6       25577   29074   31031   30630   29160
7       17369   20127   20134   20648   18297
8       11833   13563   12883   13365   11226
9        8345    9487    8550    8358    6882
10       6033    6727    5581    5260    4363
11       4134    4236    3492    3005    2389
12       3043    2601    2183    1823    1330
13       2137    1581    1398    1060     839
14       1520     955     912     661     526
15       1140     756     629     349     341
16        768     496     405     218     179
17        537     272     268     112     114
18        421     177     156      65      66
19        296     131      99      27      51
20        195      89      62      29      29
21        132      50      38      13      10
22        107      30      36       9       9
23         81      27      10       4       3
24         52       5      13       2       1
25         38      10       4       2       3
26         27       6       3       0       1
27         20       5       2       0       0
28         12       1       2       1       1
29         13       1       3       0       0
30          7       1       1       0       0
31          7       0       0       0       1
32          5       0       0       0       0
33          1       0       0       0       1
34          2       0       0       0       0
38          0       1       0       0       0
40          1       0       0       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)