In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"

In [3]:
raw_result_filename = "graph_1__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

            0   1   2   3   4   5   6   7   8   9
Iteration
1          11  11  11  11  11  13  11   7   7   7
2          22  16  14  16  36  16  16  16  18  16
3          18  16  16  14  14  18  16  14  14  16
4          15  17  17  19  17  15  17  17  17  13
5          19  19  15  41  15  17  17  17  17  17

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1
2,15,17,18,14,19,16,16,19,22,16
3,59,64,55,57,64,55,65,64,62,64
4,130,201,185,207,194,212,188,193,183,196
5,150,422,394,360,364,387,401,358,392,420
...,...,...,...,...,...,...,...,...,...,...
144,2,0,0,0,0,0,0,0,0,0
145,2,0,0,0,0,0,0,0,0,0
148,1,0,0,0,0,0,0,0,0,0
150,1,0,0,0,0,0,0,0,0,0
152,1,0,0,0,0,0,0,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1           1       1       1       1
2          15      19      16      16
3          59      64      55      64
4         130     194     212     196
5         150     364     387     420
...       ...     ...     ...     ...
144         2       0       0       0
145         2       0       0       0
148         1       0       0       0
150         1       0       0       0
152         1       0       0       0

[134 rows x 4 columns]

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)