In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [ ]:
raw_result_filename = "graph_7__0__500000__False__1__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          1  3  3  2  2  3  3  3  3  2
2          4  2  3  3  1  4  1  4  4  1
3          2  3  3  3  3  2  3  3  3  3
4          1  1  1  1  1  1  1  1  1  1
5          2  2  2  1  1  2  1  2  2  1

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,199961,200222,200045,199840,199700,199487,199730,199684,199993,200048
2,152378,152146,152400,152843,152654,152763,152588,152490,152306,152096
3,89330,89449,89287,88944,89777,89667,89424,89378,89466,89505
4,39139,39324,39226,39520,39035,39385,39331,39407,39244,39286
5,4107,1318,1315,1287,1181,7290,1654,1681,1630,1668
6,6762,8275,8471,8324,6256,5853,7152,7155,7205,7365
7,4799,6916,6962,6925,8808,2827,7699,7746,7753,7629
8,2269,1984,1954,1942,2188,1446,2027,2038,1997,2008
9,941,339,303,352,373,855,372,376,380,371
10,136,3,11,5,5,210,4,11,4,5
11,93,12,12,10,11,109,7,16,9,9
12,51,12,14,7,11,47,12,18,13,10
13,29,0,0,1,1,40,0,0,0,0
14,5,0,0,0,0,15,0,0,0,0
15,0,0,0,0,0,5,0,0,0,0
17,0,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1      199961  199700  199487  200048
2      152378  152654  152763  152096
3       89330   89777   89667   89505
4       39139   39035   39385   39286
5        4107    1181    7290    1668
6        6762    6256    5853    7365
7        4799    8808    2827    7629
8        2269    2188    1446    2008
9         941     373     855     371
10        136       5     210       5
11         93      11     109       9
12         51      11      47      10
13         29       1      40       0
14          5       0      15       0
15          0       0       5       0
17          0       0       1       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)