In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"

In [ ]:
raw_result_filename = "graph_7__0__500000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3   4  5  6  7  8  9
Iteration
1          1  1  3  4   8  2  8  7  5  2
2          3  1  1  6   3  1  4  3  3  3
3          3  2  2  1   4  3  1  1  4  3
4          1  2  2  2  12  3  4  2  3  4
5          5  6  5  3   1  1  7  3  2  2

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,171025,108494,108146,108107,132347,160320,103353,102998,103087,103703
2,102305,100686,101073,100999,83436,116306,101623,101872,102076,101165
3,55685,66045,66601,66031,60300,64119,69746,70100,70213,69832
4,46391,67650,67341,67614,60904,55443,72466,72530,71922,72245
5,32164,44973,44995,45056,41758,33271,43092,43287,43188,43315
6,28537,40755,41201,41199,38507,27958,41666,41314,41406,41704
7,18433,22210,22071,22397,23028,15316,20164,20120,20125,20592
8,15824,20133,19757,19855,20104,12111,18601,18492,18480,18560
9,9547,9781,9845,9792,12052,5871,9544,9570,9652,9576
10,7724,8256,8169,8194,9946,4469,8093,7989,8120,7810
11,4354,3958,3984,3830,5733,1996,4136,4192,4188,4110
12,3366,3132,2980,3137,4558,1437,3160,3181,3227,3128
13,1708,1535,1506,1495,2532,553,1683,1690,1672,1645
14,1277,1102,1088,1027,1953,432,1209,1219,1183,1185
15,603,558,521,515,992,193,598,609,595,572
16,498,347,313,355,756,110,409,380,388,402
17,203,168,163,182,405,42,215,188,202,200
18,165,103,101,99,275,27,105,130,144,117
19,92,58,66,54,165,7,61,51,58,52
20,42,28,35,23,115,10,36,42,33,42
21,27,8,23,18,55,4,13,21,18,24
22,19,9,12,8,37,3,12,12,9,10
23,3,4,6,8,14,2,5,7,10,5
24,1,3,1,2,14,0,3,3,1,3
25,4,4,1,1,5,0,4,0,0,2
26,0,0,0,1,3,0,2,3,1,1
27,2,0,0,0,2,0,0,0,1,0
28,0,0,1,0,2,0,0,0,1,0
29,0,0,0,0,2,0,0,0,0,0
30,0,0,0,0,0,0,1,0,0,0
31,1,0,0,0,0,0,0,0,0,0
33,0,0,0,1,0,0,0,0,0,0

In [8]:
# save agg_dfÏ€
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1      171025  132347  160320  103703
2      102305   83436  116306  101165
3       55685   60300   64119   69832
4       46391   60904   55443   72245
5       32164   41758   33271   43315
6       28537   38507   27958   41704
7       18433   23028   15316   20592
8       15824   20104   12111   18560
9        9547   12052    5871    9576
10       7724    9946    4469    7810
11       4354    5733    1996    4110
12       3366    4558    1437    3128
13       1708    2532     553    1645
14       1277    1953     432    1185
15        603     992     193     572
16        498     756     110     402
17        203     405      42     200
18        165     275      27     117
19         92     165       7      52
20         42     115      10      42
21         27      55       4      24
22         19      37       3      10
23          3      14       2       5
24          1      14       0       3
25          4       5       0       2
26          0       3       0       1
27          2       2       0       0
28          0       2       0       0
29          0       2       0       0
30          0       0       0       0
31          1       0       0       0
33          0       0       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)