In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"

In [3]:
raw_result_filename = "graph_10__0__500000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

            0   1   2   3   4   5   6   7   8   9  10
Iteration
1          13  17  15  19  11  21  17  21  15  21  17
2          18  22  22  18  16  40  26  54  30  20  24
3          19  17  15  15  19  17  17  21  19  17  21
4          30  24  20  24  32  22  20  40  22  26  26
5           5   9   7   7   7   5   9   7   7   9   9

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,Node_10
Steps,,,,,,,,,,,
1,6,6,6,4,4,4,4,4,5,6,4
2,21,19,20,16,18,12,16,15,14,19,17
3,36,40,46,37,50,40,50,46,48,47,47
4,122,158,156,181,120,144,165,118,163,162,161
5,159,301,331,320,163,295,293,159,304,313,318
...,...,...,...,...,...,...,...,...,...,...,...
106,1,0,0,0,0,0,0,0,0,0,0
109,1,0,0,0,0,0,0,0,0,0,0
111,1,0,0,0,0,0,0,0,0,0,0
112,1,0,0,0,0,0,0,0,0,0,0
135,0,0,0,0,0,0,0,1,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_7', 'Node_9']]
# agg_df = agg_df[['Node_1', 'Node_3', 'Node_7', 'Node_8']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_7  Node_9
Steps
1           6       4       4       6
2          21      18      15      19
3          36      50      46      47
4         122     120     118     162
5         159     163     159     313
...       ...     ...     ...     ...
106         1       0       0       0
109         1       0       0       0
111         1       0       0       0
112         1       0       0       0
135         0       0       1       0

[108 rows x 4 columns]

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)