In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"

In [3]:
raw_result_filename = "graph_7__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

            0   1   2   3   4   5   6   7   8   9
Iteration
1          28  12  10  12  22  12  28  14  12  14
2          27  27  15  13  19  17  19  17  31  13
3           9  11  11  13   9  11   9   9  13   7
4          20  24  26  24  24  22  28  20  22  24
5          13  11   7  25  13  13  15   9  11   9

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
Steps,,,,,,,,,,
1,5,6,6,6,6,4,6,6,7,4
2,17,18,18,20,17,17,19,17,17,20
3,58,62,57,63,61,48,58,62,60,65
4,86,124,122,125,121,91,135,115,129,120
5,124,253,271,262,281,131,256,259,278,290
...,...,...,...,...,...,...,...,...,...,...
91,0,0,0,0,0,2,0,0,0,0
92,0,0,0,0,0,1,0,0,0,0
93,0,0,0,0,0,1,0,0,0,0
94,2,0,0,0,0,0,0,0,0,0
95,1,0,0,0,0,1,0,0,0,0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_1', 'Node_3', 'Node_5', 'Node_8']]
# agg_df = agg_df[['Node_0',  'Node_5']]
agg_df

       Node_0  Node_4  Node_5  Node_9
Steps
1           5       6       4       4
2          17      17      17      20
3          58      61      48      65
4          86     121      91     120
5         124     281     131     290
...       ...     ...     ...     ...
91          0       0       2       0
92          0       0       1       0
93          0       0       1       0
94          2       0       0       0
95          1       0       1       0

[94 rows x 4 columns]

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/agg_{raw_result_filename}.png", dpi=500)