In [3]:
import pandas as pd

In [5]:
results_dir = "coloring"

In [4]:
raw_result_filename = "graph_7__0__500000__False__2__raw"

In [6]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [10]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3  4  5  6  7  8  9
Iteration
1          2  2  1  2  2  2  2  1  2  2
2          1  1  1  1  1  1  1  1  1  1
3          2  1  2  1  2  1  1  1  2  1
4          3  4  2  8  4  1  4  4  5  5
5          2  2  2  2  2  1  2  1  1  2

In [24]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [29]:
agg_df = pd.DataFrame(value_counts).transpose()
agg_df

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,199975.0,152863.0,36460.0,41468.0,36416.0,9461.0,10796.0,7315.0,1941.0,1667.0,...,282.0,166.0,97.0,34.0,15.0,9.0,5.0,2.0,1.0,2.0
1,199643.0,152597.0,10138.0,61523.0,50660.0,3576.0,10913.0,8257.0,566.0,1059.0,...,39.0,43.0,53.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN
2,199927.0,152728.0,9815.0,61227.0,50534.0,3640.0,11012.0,8478.0,529.0,1044.0,...,47.0,59.0,52.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
3,200307.0,152193.0,9893.0,61544.0,50172.0,3633.0,10923.0,8546.0,565.0,1116.0,...,41.0,63.0,56.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,200092.0,152363.0,10988.0,50511.0,55894.0,3929.0,10291.0,12360.0,571.0,1230.0,...,56.0,77.0,108.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN
5,199849.0,152528.0,49826.0,45954.0,26375.0,10771.0,7807.0,3499.0,1678.0,899.0,...,222.0,88.0,34.0,23.0,7.0,8.0,3.0,1.0,NaN,NaN
6,199704.0,152852.0,7651.0,65905.0,46898.0,4267.0,10299.0,9476.0,631.0,1077.0,...,49.0,59.0,62.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
7,199571.0,153147.0,7668.0,65623.0,47099.0,4228.0,10308.0,9416.0,629.0,1053.0,...,47.0,72.0,72.0,2.0,5.0,5.0,NaN,NaN,NaN,NaN
8,199812.0,152855.0,7592.0,66023.0,46882.0,4266.0,10341.0,9246.0,648.0,1088.0,...,43.0,58.0,67.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN
9,199694.0,152807.0,7666.0,65990.0,47042.0,4221.0,10188.0,9479.0,637.0,1055.0,...,41.0,63.0,59.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN