In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

In [2]:
# data_filename = "graph_1__0__10000__False__0.9__0.60"

In [3]:
data_filename = "graph_7__0__10000__False__0.6__0.80"

In [4]:
# data_filename = "graph_powerlaw_cluster_graph_n30__0__100000__False__0.5__0.60"

In [5]:
# data_filename = "implicit_graph_n20__0__50000__False__0.5__0.60"

In [6]:
df = pd.read_csv(f"results/{data_filename}.csv")

In [14]:
df.iloc[[0, 4, 5, 9]]

   Node     1     6   12   18  24  30  35  41  47  53  59
0     0  7608  1786  474   99  28   4   1   0   0   0 NaN
4     4  6760  2438  625  142  25   8   2   0   0   0 NaN
5     5  7603  1895  409   75  15   2   1   0   0   0 NaN
9     9  6535  2683  601  142  29   8   1   1   0   0 NaN

In [8]:
# df.iloc[[0, 10, 19]]

In [9]:
X = df.columns[1:].astype(int).to_numpy()
X

array([ 1,  6, 12, 18, 24, 30, 35, 41, 47, 53, 59])

In [10]:
plt.figure(figsize=(25, 7))

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
plt.ioff()
for i in range(df.shape[0]):
    if i in {0, 4, 5, 9}:
        j = i % len(markers)
        node = int(df.iloc[i].Node)
        plt.scatter(X, df.iloc[i].to_numpy()[1:], marker=markers[j], label=f'Node {node}')

In [13]:
plt.legend(fontsize=5)
plt.tight_layout()
plt.savefig(f"plots/{data_filename}.jpg", dpi=500)