In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

In [2]:
data_filename = "graph_1__0__10000__False__0.9__0.60"

In [3]:
data_filename = "graph_powerlaw_cluster_graph_n30__0__100000__False__0.5__0.60"

In [4]:
# data_filename = "implicit_graph_n20__0__50000__False__0.5__0.60"

In [5]:
df = pd.read_csv(f"results/{data_filename}.csv")

In [6]:
df

    Node      1      9     17    25    33   41  49  57  65  73  81
0      0  17013  43836  27638  9082  1991  362  69   9   0   0 NaN
1      1  16574  42928  28216  9478  2266  444  75  16   3   0 NaN
2      2  16826  43358  27931  9206  2176  421  74   6   1   1 NaN
3      3  16970  43628  27778  9143  2021  387  62  11   0   0 NaN
4      4  16368  43119  28033  9707  2225  459  75  14   0   0 NaN
5      5  16726  43395  28025  9225  2154  385  74  13   3   0 NaN
6      6  16567  43569  27866  9379  2141  392  72  13   1   0 NaN
7      7  16697  43244  27868  9485  2172  446  77  11   0   0 NaN
8      8  16562  43416  27686  9588  2232  428  75  13   0   0 NaN
9      9  16499  42947  28030  9759  2267  412  73  11   1   1 NaN
10    10  17369  45205  27180  8238  1696  270  34   8   0   0 NaN
11    11  17234  45269  27105  8316  1750  280  41   5   0   0 NaN
12    12  17557  45462  27017  8117  1567  241  31   8   0   0 NaN
13    13  17191  43907  27433  8989  1998  407  70   4   0   1 NaN
14    14  17239  44031  27577  8788  1960  346  46  11   2   0 NaN
15    15  17065  44382  27532  8675  1943  346  46  11   0   0 NaN
16    16  16736  42953  28064  9530  2208  429  64  14   2   0 NaN
17    17  16708  43291  28142  9156  2224  395  72  11   1   0 NaN
18    18  17854  46382  26662  7419  1431  215  34   3   0   0 NaN
19    19  16877  43504  27666  9319  2148  410  61  13   1   1 NaN
20    20  17828  46462  26481  7498  1489  205  31   6   0   0 NaN
21    21  17173  44580  27273  8649  1918  344  55   7   1   0 NaN
22    22  17517  44937  27183  8327  1689  283  60   4   0   0 NaN
23    23  17303  45080  27279  8250  1758  277  49   3   1   0 NaN
24    24  16907  43779  27563  9173  2149  365  55   9   0   0 NaN
25    25  17031  44344  27554  8763  1931  308  57  11   1   0 NaN
26    26  17232  44646  27499  8436  1827  292  59   7   2   0 NaN
27    27  17135  44283  27343  8912  1920  333  61  11   1   1 NaN
28    28  17122  44329  27471  8780  1923  307  60   6   2   0 NaN
29    29  17431  44871  27314  8327  1712  296  42   6   1   0 NaN

In [7]:
X = df.columns[1:].astype(int).to_numpy()
X

array([ 1,  9, 17, 25, 33, 41, 49, 57, 65, 73, 81])

In [8]:
plt.figure(figsize=(25, 7))

In [9]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [10]:
plt.ioff()
for i in range(df.shape[0]):
    j = i % len(markers)
    node = int(df.iloc[i].Node)
    plt.scatter(X, df.iloc[i].to_numpy()[1:], marker=markers[j], label=f'Node {node}')

In [11]:
plt.legend(fontsize=5)
plt.tight_layout()
plt.savefig(f"plots/{data_filename}.jpg", dpi=200)