In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

In [2]:
plt.ioff()

In [3]:
df = pd.read_csv("results/graph_1__0__10000__False__0.9__0.60.csv")

In [4]:
df

   Node      1    25   50   75  100  125  149  174  199  224  249
0     0  10000     0    0    0    0    0    0    0    0    0  NaN
1     1   6227  2241  959  363  133   47   16    9    5    0  NaN
2     2   6228  2282  949  344  130   46   13    6    1    1  NaN
3     3   6269  2274  947  325  120   39   13   10    3    0  NaN
4     4   6257  2272  919  353  126   48   17    5    2    1  NaN
5     5   6235  2297  923  347  124   47   20    5    2    0  NaN
6     6   6293  2227  936  357  126   43   11    4    2    1  NaN
7     7   6266  2257  953  349  114   42   13    5    0    1  NaN
8     8   6299  2261  922  316  126   49   16    3    7    1  NaN
9     9   6129  2298  992  375  138   44   21    1    1    1  NaN

In [5]:
X = df.columns[1:].astype(int).to_numpy()
X

array([  1,  25,  50,  75, 100, 125, 149, 174, 199, 224, 249])

In [6]:
df.iloc[0].to_numpy()

array([    0., 10000.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,    nan])

In [7]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [16]:
plt.figure(figsize=(15, 7))

In [17]:
plt.ioff()
for i in range(10):
    plt.scatter(X, df.iloc[i].to_numpy()[1:], marker=markers[i], label=f'Node {i}')

In [18]:
plt.legend()

In [19]:
plt.savefig("test.jpg")