In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
results_dir = "coloring"
results_dir = "dijkstra"
results_dir = "maximal_matching"
results_dir = "maximal_independent_set"

In [ ]:
raw_result_filename = "graph_random_regular_graph_n10_d4__0__100000__False__4__raw"

In [4]:
df = pd.read_csv(f"results/{results_dir}/{raw_result_filename}.csv")

In [5]:
df.set_index("Iteration", inplace=True)
df.head()

           0  1  2  3   4  5   6  7  8
Iteration
1          6  5  5  5   4  4   6  6  4
2          6  7  5  5   7  4   3  6  7
3          7  5  8  8  10  8  11  8  7
4          2  2  2  2   3  2   2  2  2
5          7  4  7  5   8  5   5  6  3

In [6]:
value_counts = {}
for c in df.columns:
    value_counts[c] = df[c].value_counts()

In [7]:
agg_df = pd.DataFrame(value_counts).fillna(0).astype(int)
agg_df.rename_axis('Steps', inplace=True)
agg_df = agg_df.add_prefix("Node_")
agg_df

       Node_0  Node_1  Node_2  Node_3  Node_4  Node_5  Node_6  Node_7  Node_8
Steps
1        3498    3506    3520    3423    3480    3382    3465    3507    3454
2        6627    6805    6679    6650    6756    6613    6676    6630    6657
3       10329   10478   10283   10295   10346   10348   10267   10628   10595
4       13985   13888   13863   13577   13428   13828   13588   13785   14024
5       16361   16079   16331   16096   15875   16569   16065   16171   16438
6       15973   16127   16204   15977   16161   16655   16086   16188   16021
7       12662   12817   13092   13172   13125   13200   13009   12852   12767
8        8953    9292    9341    9307    9492    9099    9373    9156    9024
9        5831    6030    6023    6121    6101    5875    6052    6009    5875
10       3266    3154    2988    3366    3341    2914    3374    3160    3168
11       1364    1120    1110    1254    1200     974    1254    1134    1188
12        593     399     361     432     427     325     432     475     449
13        305     198     143     218     187     159     237     213     212
14        142      74      53      79      69      45      95      56      73
15         72      22       6      23      11      12      20      22      39
16         21       7       3       6       0       1       6      10      11
17         11       4       0       4       1       0       1       1       3
18          5       0       0       0       0       1       0       1       1
19          1       0       0       0       0       0       0       2       1
20          1       0       0       0       0       0       0       0       0

In [8]:
# save agg_dfπ
agg_df.to_csv(f"agg_{raw_result_filename}.csv")

In [9]:
# filter columns
# agg_df = agg_df[['Node_0', 'Node_5', 'Node_9', 'Node_10', 'Node_13', 'Node_16']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_5', 'Node_9']]
# agg_df = agg_df[['Node_0', 'Node_4', 'Node_7', 'Node_9']]
# agg_df = agg_df[['Node_1', 'Node_3', 'Node_7', 'Node_8']]
# agg_df = agg_df[['Node_0',  'Node_5']]
columns = ['Node_1', 'Node_3', 'Node_5', 'Node_8']
agg_df = agg_df[columns]
agg_df

       Node_1  Node_3  Node_5  Node_8
Steps
1        3506    3423    3382    3454
2        6805    6650    6613    6657
3       10478   10295   10348   10595
4       13888   13577   13828   14024
5       16079   16096   16569   16438
6       16127   15977   16655   16021
7       12817   13172   13200   12767
8        9292    9307    9099    9024
9        6030    6121    5875    5875
10       3154    3366    2914    3168
11       1120    1254     974    1188
12        399     432     325     449
13        198     218     159     212
14         74      79      45      73
15         22      23      12      39
16          7       6       1      11
17          4       4       0       3
18          0       0       1       1
19          0       0       0       1
20          0       0       0       0

In [10]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [11]:
plt.ioff()
ax = sns.lineplot(agg_df, linewidth=2, markersize=10)

In [12]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [13]:
for i, line in enumerate(ax.lines):
    # print(i)
    line.set_marker(markers[i % len(agg_df.columns)])

In [14]:
def filename_parser(filename):
    graph_name, central_dist, no_sim, me, fault_interval, _ = filename.split("__")
    return f"Simulations - Program: {results_dir} | Graph: {graph_name} | {'Distributed' if central_dist=='1' else 'Central'} | N: {no_sim} | ME: {me} | Fault Interval: {fault_interval}"

In [15]:
plt.legend()
plt.xlabel("Steps")
plt.ylabel("Count")
plt.title(filename_parser(raw_result_filename))
# plt.show()
plt.savefig(f"plots/{results_dir}/simulations__agg__{raw_result_filename}.png", dpi=500)