In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.lines as mlines

from itertools import cycle
from matplotlib import pyplot as plt

from simulation import SimulationMixin

In [2]:
fontsize = 20

plots_dir = "plots"

In [3]:
colors = [("red", "red"), ("green", "green"), ("blue", "blue"), ("orange", "orange")]
color_cycle = cycle(colors)

In [4]:
# program = "coloring"
program = "maximal_matching"
# program = "dijkstra"
# graph_name = "graph_powerlaw_cluster_graph_n7"
# graph_name = "implicit_graph_n8"
graph_name = "star_graph_0_n7"
sched = 0
no_simulations = 10000
me = False
fault_interval = 2

duong_mode = True

selected_nodes = [0]

In [5]:
def get_filename(graph_name, sched, simulation_type, args, no_simulations, me, fault_interval):
    return f"{graph_name}__{sched}__{simulation_type}_args_{args}__{no_simulations}__{me}__{fault_interval}"

In [6]:
# filenames = [
#     get_filename(
#         graph_name,
#         sched,
#         SimulationMixin.RANDOM_FAULT_SIMULATION_TYPE,
#         "",
#         no_simulations,
#         me,
#         fault_interval,
#     )
# ]
filenames = []
if duong_mode:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE_DUONG,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )
else:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )

In [7]:
dfs = [pd.read_csv(os.path.join("results", program, f"{fn}.csv")) for fn in filenames]

In [8]:
max_steps = max(df['Steps'].max() for df in dfs)
max_steps

np.int64(436)

In [9]:
bins = np.linspace(17, max_steps, max_steps+1)
# bin_centers = (bins[:-1] + bins[1:]) / 2
bin_centers = bins

In [10]:
bins

array([ 17.        ,  17.96100917,  18.92201835,  19.88302752,
        20.8440367 ,  21.80504587,  22.76605505,  23.72706422,
        24.68807339,  25.64908257,  26.61009174,  27.57110092,
        28.53211009,  29.49311927,  30.45412844,  31.41513761,
        32.37614679,  33.33715596,  34.29816514,  35.25917431,
        36.22018349,  37.18119266,  38.14220183,  39.10321101,
        40.06422018,  41.02522936,  41.98623853,  42.94724771,
        43.90825688,  44.86926606,  45.83027523,  46.7912844 ,
        47.75229358,  48.71330275,  49.67431193,  50.6353211 ,
        51.59633028,  52.55733945,  53.51834862,  54.4793578 ,
        55.44036697,  56.40137615,  57.36238532,  58.3233945 ,
        59.28440367,  60.24541284,  61.20642202,  62.16743119,
        63.12844037,  64.08944954,  65.05045872,  66.01146789,
        66.97247706,  67.93348624,  68.89449541,  69.85550459,
        70.81651376,  71.77752294,  72.73853211,  73.69954128,
        74.66055046,  75.62155963,  76.58256881,  77.54357798,
        78.50458716,  79.46559633,  80.4266055 ,  81.38761468,
        82.34862385,  83.30963303,  84.2706422 ,  85.23165138,
        86.19266055,  87.15366972,  88.1146789 ,  89.07568807,
        90.03669725,  90.99770642,  91.9587156 ,  92.91972477,
        93.88073394,  94.84174312,  95.80275229,  96.76376147,
        97.72477064,  98.68577982,  99.64678899, 100.60779817,
       101.56880734, 102.52981651, 103.49082569, 104.45183486,
       105.41284404, 106.37385321, 107.33486239, 108.29587156,
       109.25688073, 110.21788991, 111.17889908, 112.13990826,
       113.10091743, 114.06192661, 115.02293578, 115.98394495,
       116.94495413, 117.9059633 , 118.86697248, 119.82798165,
       120.78899083, 121.75      , 122.71100917, 123.67201835,
       124.63302752, 125.5940367 , 126.55504587, 127.51605505,
       128.47706422, 129.43807339, 130.39908257, 131.36009174,
       132.32110092, 133.28211009, 134.24311927, 135.20412844,
       136.16513761, 137.12614679, 138.08715596, 139.04816514,
       140.00917431, 140.97018349, 141.93119266, 142.89220183,
       143.85321101, 144.81422018, 145.77522936, 146.73623853,
       147.69724771, 148.65825688, 149.61926606, 150.58027523,
       151.5412844 , 152.50229358, 153.46330275, 154.42431193,
       155.3853211 , 156.34633028, 157.30733945, 158.26834862,
       159.2293578 , 160.19036697, 161.15137615, 162.11238532,
       163.0733945 , 164.03440367, 164.99541284, 165.95642202,
       166.91743119, 167.87844037, 168.83944954, 169.80045872,
       170.76146789, 171.72247706, 172.68348624, 173.64449541,
       174.60550459, 175.56651376, 176.52752294, 177.48853211,
       178.44954128, 179.41055046, 180.37155963, 181.33256881,
       182.29357798, 183.25458716, 184.21559633, 185.1766055 ,
       186.13761468, 187.09862385, 188.05963303, 189.0206422 ,
       189.98165138, 190.94266055, 191.90366972, 192.8646789 ,
       193.82568807, 194.78669725, 195.74770642, 196.7087156 ,
       197.66972477, 198.63073394, 199.59174312, 200.55275229,
       201.51376147, 202.47477064, 203.43577982, 204.39678899,
       205.35779817, 206.31880734, 207.27981651, 208.24082569,
       209.20183486, 210.16284404, 211.12385321, 212.08486239,
       213.04587156, 214.00688073, 214.96788991, 215.92889908,
       216.88990826, 217.85091743, 218.81192661, 219.77293578,
       220.73394495, 221.69495413, 222.6559633 , 223.61697248,
       224.57798165, 225.53899083, 226.5       , 227.46100917,
       228.42201835, 229.38302752, 230.3440367 , 231.30504587,
       232.26605505, 233.22706422, 234.18807339, 235.14908257,
       236.11009174, 237.07110092, 238.03211009, 238.99311927,
       239.95412844, 240.91513761, 241.87614679, 242.83715596,
       243.79816514, 244.75917431, 245.72018349, 246.68119266,
       247.64220183, 248.60321101, 249.56422018, 250.52522936,
       251.48623853, 252.44724771, 253.40825688, 254.36926606,
       255.33027523, 256.2912844 , 257.25229358, 258.21330275,
       259.17431193, 260.1353211 , 261.09633028, 262.05733945,
       263.01834862, 263.9793578 , 264.94036697, 265.90137615,
       266.86238532, 267.8233945 , 268.78440367, 269.74541284,
       270.70642202, 271.66743119, 272.62844037, 273.58944954,
       274.55045872, 275.51146789, 276.47247706, 277.43348624,
       278.39449541, 279.35550459, 280.31651376, 281.27752294,
       282.23853211, 283.19954128, 284.16055046, 285.12155963,
       286.08256881, 287.04357798, 288.00458716, 288.96559633,
       289.9266055 , 290.88761468, 291.84862385, 292.80963303,
       293.7706422 , 294.73165138, 295.69266055, 296.65366972,
       297.6146789 , 298.57568807, 299.53669725, 300.49770642,
       301.4587156 , 302.41972477, 303.38073394, 304.34174312,
       305.30275229, 306.26376147, 307.22477064, 308.18577982,
       309.14678899, 310.10779817, 311.06880734, 312.02981651,
       312.99082569, 313.95183486, 314.91284404, 315.87385321,
       316.83486239, 317.79587156, 318.75688073, 319.71788991,
       320.67889908, 321.63990826, 322.60091743, 323.56192661,
       324.52293578, 325.48394495, 326.44495413, 327.4059633 ,
       328.36697248, 329.32798165, 330.28899083, 331.25      ,
       332.21100917, 333.17201835, 334.13302752, 335.0940367 ,
       336.05504587, 337.01605505, 337.97706422, 338.93807339,
       339.89908257, 340.86009174, 341.82110092, 342.78211009,
       343.74311927, 344.70412844, 345.66513761, 346.62614679,
       347.58715596, 348.54816514, 349.50917431, 350.47018349,
       351.43119266, 352.39220183, 353.35321101, 354.31422018,
       355.27522936, 356.23623853, 357.19724771, 358.15825688,
       359.11926606, 360.08027523, 361.0412844 , 362.00229358,
       362.96330275, 363.92431193, 364.8853211 , 365.84633028,
       366.80733945, 367.76834862, 368.7293578 , 369.69036697,
       370.65137615, 371.61238532, 372.5733945 , 373.53440367,
       374.49541284, 375.45642202, 376.41743119, 377.37844037,
       378.33944954, 379.30045872, 380.26146789, 381.22247706,
       382.18348624, 383.14449541, 384.10550459, 385.06651376,
       386.02752294, 386.98853211, 387.94954128, 388.91055046,
       389.87155963, 390.83256881, 391.79357798, 392.75458716,
       393.71559633, 394.6766055 , 395.63761468, 396.59862385,
       397.55963303, 398.5206422 , 399.48165138, 400.44266055,
       401.40366972, 402.3646789 , 403.32568807, 404.28669725,
       405.24770642, 406.2087156 , 407.16972477, 408.13073394,
       409.09174312, 410.05275229, 411.01376147, 411.97477064,
       412.93577982, 413.89678899, 414.85779817, 415.81880734,
       416.77981651, 417.74082569, 418.70183486, 419.66284404,
       420.62385321, 421.58486239, 422.54587156, 423.50688073,
       424.46788991, 425.42889908, 426.38990826, 427.35091743,
       428.31192661, 429.27293578, 430.23394495, 431.19495413,
       432.1559633 , 433.11697248, 434.07798165, 435.03899083,
       436.        ])

In [11]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_data[0][0]

array([303, 137, 263, 135, 249, 154, 224, 140, 255, 127, 223, 150, 191,
       129, 171, 113, 154, 127, 141, 113, 154, 114, 114, 145, 114,   0,
       123, 113, 123,  82, 109,  87, 113,  80,  92,  76,  95,  44,  79,
        62,  87,  52,  72,  39,  60,  50,  86,  40,  69,  31,  71,   0,
        35,  52,  39,  74,  35,  69,  18,  56,  25,  66,  17,  63,  16,
        48,  14,  48,  15,  45,  11,  38,  20,  42,   9,  45,   0,   9,
        33,   7,  38,   6,  38,   7,  26,   7,  36,  10,  37,   7,  35,
        10,  38,   8,  31,   6,  26,   3,  37,   1,  21,   5,   0,  18,
         5,  21,   3,  18,   1,  18,   5,  20,   1,  14,   4,  12,   0,
        22,   1,   7,   1,  11,   1,  14,   2,  14,   1,  16,   0,   0,
        13,   3,   7,   0,  10,   1,  13,   0,  10,   2,   7,   3,  13,
         0,   8,   0,  11,   0,   9,   0,  11,   0,  10,   0,   0,   8,
         1,   7,   0,  13,   0,   3,   0,   4,   0,   4,   0,   6,   1,
         1,   0,   3,   1,   2,   0,   6,   0,   8,   0,   0,   3,   0,
         6,   0,   4,   0,   4,   1,   4,   0,   3,   1,   8,   0,   3,
         0,   8,   0,   7,   0,   5,   0,   2,   0,   2,   0,   0,   4,
         0,   3,   0,   1,   0,   3,   0,   4,   0,   1,   0,   3,   0,
         3,   0,   3,   1,   3,   0,   4,   0,   1,   0,   0,   6,   0,
         1,   0,   3,   0,   1,   0,   4,   0,   3,   0,   3,   0,   1,
         0,   1,   0,   1,   0,   1,   0,   1,   0,   0,   0,   0,   2,
         0,   3,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,
         2,   0,   1,   0,   2,   0,   1,   0,   0,   0,   0,   3,   0,
         2,   0,   1,   0,   1,   0,   1,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   1,   0,   1,   0,   0,   0,   0,   0,   0,   0,
         0,   1,   0,   1,   0,   0,   0,   1,   0,   1,   0,   1,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
         1,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   1])

In [12]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_df = []
for hd in hist_data:
    hist_df.append(
        pd.DataFrame({
            'Steps': bin_centers[:-1],
            'Count': hd[0]
        })
    )

In [13]:
hist_df[0]

          Steps  Count
0     17.000000    303
1     17.961009    137
2     18.922018    263
3     19.883028    135
4     20.844037    249
..          ...    ...
431  431.194954      0
432  432.155963      0
433  433.116972      0
434  434.077982      0
435  435.038991      1

[436 rows x 2 columns]

In [14]:
df_merged = hist_df[0]
for i in range(1, len(hist_df)):
    df_merged = pd.merge(df_merged, hist_df[i], on=["Steps"], suffixes=(i-1, i))
df_merged

          Steps  Count
0     17.000000    303
1     17.961009    137
2     18.922018    263
3     19.883028    135
4     20.844037    249
..          ...    ...
431  431.194954      0
432  432.155963      0
433  433.116972      0
434  434.077982      0
435  435.038991      1

[436 rows x 2 columns]

In [15]:
df_merged.set_index('Steps', drop=True, inplace=True)
df_merged

            Count
Steps
17.000000     303
17.961009     137
18.922018     263
19.883028     135
20.844037     249
...           ...
431.194954      0
432.155963      0
433.116972      0
434.077982      0
435.038991      1

[436 rows x 1 columns]

In [16]:
def get_title():
    return f"Simulation - {program} | {graph_name} | Sched: {sched} | N: {no_simulations:,} | FI: {fault_interval}"

In [17]:
def get_filename():
    return f"{program}__{graph_name}__{sched}__{no_simulations}__{fault_interval}__{''.join([str(i) for i in selected_nodes])}{'__duong' if duong_mode else ''}"

In [18]:
from scipy.optimize import curve_fit


def exp_func(x, a, b, c):
    return a * np.exp(-b * x) + c


# Fit the curve
popt, _ = curve_fit(exp_func, df_merged.index, df_merged["Count"], p0= [10, 0.5, 0])
y_fit = exp_func(df_merged.index, popt[0], popt[1], popt[2])
df_merged[f"exp_fit"] = y_fit

/home/agaru/anaconda3/envs/cvf/lib/python3.13/site-packages/pandas/core/indexes/base.py:952: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*new_inputs, **kwargs)

In [19]:
plt.figure(figsize=(16, 8))
ax = sns.lineplot(data=df_merged, linewidth=1)
ax.set_title(get_title(), fontdict={"fontsize": fontsize})

# ax.set_yscale("log")
for i, line in enumerate(ax.lines):
    if i >= 0:
        line_style = "solid"
        line.set_color(next(color_cycle)[0])
    else:
        line_style = "dashed"
        line.set_color("goldenrod")
    line.set_linestyle(line_style)

ax.tick_params(axis="x", labelsize=fontsize)
ax.tick_params(axis="y", labelsize=fontsize)
ax.xaxis.label.set_size(fontsize)
ax.yaxis.label.set_size(fontsize)

ax.set_xlabel("Steps")
ax.set_ylabel("Count")

# labels = ["Random Fault"]
labels = []
labels.extend(
    [
        f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
        for n in selected_nodes
    ]
)
labels.append(f"$y = {popt[0]:.2f}e^{{{-popt[1]:.2f}x}} + {popt[1]:.2f}$")

custom_lines = [
    mlines.Line2D(
        [],
        [],
        color=line.get_color(),
        # marker=marker,
        label=cat,
        linestyle=line.get_linestyle(),
    )
    for line, cat in zip(ax.lines, labels)
]
plt.rc("font", size=fontsize)
plt.legend(handles=custom_lines, fontsize=fontsize * 0.9)
file_path = os.path.join(
    plots_dir,
    program,
    f"{get_filename()}.png",
)


plt.savefig(
    file_path,
    bbox_inches="tight",
)
plt.close()

print(f"Saved plot(s) for {file_path}")

Saved plot(s) for plots/maximal_matching/maximal_matching__star_graph_0_n7__0__10000__2__0__duong.png

In [20]:
df_merged

            Count     exp_fit
Steps
17.000000     303  229.247483
17.961009     137  222.473193
18.922018     263  215.899755
19.883028     135  209.521213
20.844037     249  203.331790
...           ...         ...
431.194954      0    0.766194
432.155963      0    0.766178
433.116972      0    0.766163
434.077982      0    0.766148
435.038991      1    0.766134

[436 rows x 2 columns]

In [21]:
# # Save to file
# df_merged.columns = [
#     "Random",
#     *[
#         f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
#         for n in selected_nodes
#     ],
# ]
# df_merged.index = df_merged.index.astype(int)
# df_merged.to_csv(
#     os.path.join("results", program, f"agg_{get_filename()}.csv")
# )