In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.lines as mlines

from itertools import cycle
from matplotlib import pyplot as plt

from simulation import SimulationMixin

In [2]:
fontsize = 20

plots_dir = "plots"

In [3]:
colors = [("red", "red"), ("green", "green"), ("blue", "blue"), ("orange", "orange")]
color_cycle = cycle(colors)

In [4]:
program = "coloring"
program = "maximal_matching"
# program = "dijkstra"
graph_name = "graph_powerlaw_cluster_graph_n7"
# graph_name = "implicit_graph_n8"
sched = 0
no_simulations = 500000
me = False
fault_interval = 1

duong_mode = False

selected_nodes = [1, 4, 5]

In [5]:
def get_filename(graph_name, sched, simulation_type, args, no_simulations, me, fault_interval):
    return f"{graph_name}__{sched}__{simulation_type}_args_{args}__{no_simulations}__{me}__{fault_interval}"

In [6]:
filenames = [
    get_filename(
        graph_name,
        sched,
        SimulationMixin.RANDOM_FAULT_SIMULATION_TYPE,
        "",
        no_simulations,
        me,
        fault_interval,
    )
]
if duong_mode:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE_DUONG,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )
else:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )

In [7]:
dfs = [pd.read_csv(os.path.join("results", program, f"{fn}.csv")) for fn in filenames]

In [8]:
max_steps = max(df['Steps'].max() for df in dfs)
max_steps

np.int64(31)

In [9]:
bins = np.linspace(0, max_steps, max_steps+1)
# bin_centers = (bins[:-1] + bins[1:]) / 2
bin_centers = bins

In [10]:
bins

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31.])

In [11]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_data[0][0]

array([    0,     4,    24,    97,   384,  1043,  2154,  4112,  7331,
       12244, 18747, 26489, 34861, 43607, 50356, 54152, 54423, 50395,
       43190, 34462, 24861, 16683,  9952,  5539,  2769,  1276,   549,
         220,    52,    21,     3])

In [12]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_df = []
for hd in hist_data:
    hist_df.append(
        pd.DataFrame({
            'Steps': bin_centers[:-1],
            'Count': hd[0]
        })
    )

In [13]:
hist_df[0]

    Steps  Count
0     0.0      0
1     1.0      4
2     2.0     24
3     3.0     97
4     4.0    384
5     5.0   1043
6     6.0   2154
7     7.0   4112
8     8.0   7331
9     9.0  12244
10   10.0  18747
11   11.0  26489
12   12.0  34861
13   13.0  43607
14   14.0  50356
15   15.0  54152
16   16.0  54423
17   17.0  50395
18   18.0  43190
19   19.0  34462
20   20.0  24861
21   21.0  16683
22   22.0   9952
23   23.0   5539
24   24.0   2769
25   25.0   1276
26   26.0    549
27   27.0    220
28   28.0     52
29   29.0     21
30   30.0      3

In [14]:
df_merged = hist_df[0]
for i in range(1, len(hist_df)):
    df_merged = pd.merge(df_merged, hist_df[i], on=["Steps"], suffixes=(i-1, i))
df_merged

    Steps  Count0  Count1  Count2  Count3
0     0.0       0       0       0       0
1     1.0       4       3       1       5
2     2.0      24      36      12      24
3     3.0      97     186      90     126
4     4.0     384     511     312     393
5     5.0    1043    1181     807    1020
6     6.0    2154    2489    1820    2200
7     7.0    4112    4435    3596    4203
8     8.0    7331    7739    6777    7738
9     9.0   12244   12652   11239   12914
10   10.0   18747   19002   17830   19304
11   11.0   26489   26470   25565   27363
12   12.0   34861   34981   34698   35608
13   13.0   43607   42706   42927   44110
14   14.0   50356   49874   50621   50878
15   15.0   54152   53318   54607   54004
16   16.0   54423   53784   54888   53945
17   17.0   50395   49893   51361   50205
18   18.0   43190   43428   44605   42900
19   19.0   34462   34795   34775   33410
20   20.0   24861   25043   25583   24167
21   21.0   16683   16707   17066   16122
22   22.0    9952   10144   10158    9552
23   23.0    5539    5646    5641    5240
24   24.0    2769    2863    2881    2595
25   25.0    1276    1290    1291    1194
26   26.0     549     554     542     508
27   27.0     220     177     215     180
28   28.0      52      57      70      62
29   29.0      21      24      14      26
30   30.0       3      12       8       4

In [15]:
df_merged.set_index('Steps', drop=True, inplace=True)
df_merged

       Count0  Count1  Count2  Count3
Steps
0.0         0       0       0       0
1.0         4       3       1       5
2.0        24      36      12      24
3.0        97     186      90     126
4.0       384     511     312     393
5.0      1043    1181     807    1020
6.0      2154    2489    1820    2200
7.0      4112    4435    3596    4203
8.0      7331    7739    6777    7738
9.0     12244   12652   11239   12914
10.0    18747   19002   17830   19304
11.0    26489   26470   25565   27363
12.0    34861   34981   34698   35608
13.0    43607   42706   42927   44110
14.0    50356   49874   50621   50878
15.0    54152   53318   54607   54004
16.0    54423   53784   54888   53945
17.0    50395   49893   51361   50205
18.0    43190   43428   44605   42900
19.0    34462   34795   34775   33410
20.0    24861   25043   25583   24167
21.0    16683   16707   17066   16122
22.0     9952   10144   10158    9552
23.0     5539    5646    5641    5240
24.0     2769    2863    2881    2595
25.0     1276    1290    1291    1194
26.0      549     554     542     508
27.0      220     177     215     180
28.0       52      57      70      62
29.0       21      24      14      26
30.0        3      12       8       4

In [16]:
def get_title():
    return f"Simulation - {program} | {graph_name} | Sched: {sched} | N: {no_simulations:,} | FI: {fault_interval}"

In [17]:
def get_filename():
    return f"{graph_name}__{sched}__{no_simulations:,}__{fault_interval}__{''.join([str(i) for i in selected_nodes])}{'__duong' if duong_mode else ''}"

In [18]:
plt.figure(figsize=(16, 8))
ax = sns.lineplot(data=df_merged, marker="o", linewidth=3)
ax.set_title(get_title(), fontdict={"fontsize": fontsize})

# ax.set_yscale("log")
for i, line in enumerate(ax.lines):
    if i >= 1:
        line_style = "solid"
        line.set_color(next(color_cycle)[0])
    else:
        line_style = "dashed"
        line.set_color("goldenrod")
    line.set_linestyle(line_style)

ax.tick_params(axis="x", labelsize=fontsize)
ax.tick_params(axis="y", labelsize=fontsize)
ax.xaxis.label.set_size(fontsize)
ax.yaxis.label.set_size(fontsize)

ax.set_xlabel("Steps")
ax.set_ylabel("Count")

labels = ["Random Fault"]
labels.extend(
    [
        f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
        for n in selected_nodes
    ]
)
custom_lines = [
    mlines.Line2D(
        [],
        [],
        color=line.get_color(),
        # marker=marker,
        label=cat,
        linewidth=1,
        linestyle=line.get_linestyle(),
    )
    for line, cat in zip(ax.lines, labels)
]
plt.rc("font", size=fontsize)
plt.legend(handles=custom_lines, fontsize=fontsize * 0.9)
file_path = os.path.join(
    plots_dir,
    program,
    f"{get_filename()}.png",
)
plt.savefig(
    file_path,
    bbox_inches="tight",
)
plt.close()

print(f"Saved plot(s) for {file_path}")

Saved plot(s) for plots/maximal_matching/graph_powerlaw_cluster_graph_n7__0__500,000__1__145.png