In [1]:
import os
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.lines as mlines

from itertools import cycle
from matplotlib import pyplot as plt

from simulation import SimulationMixin

In [2]:
fontsize = 20

plots_dir = "plots"

In [3]:
colors = [("red", "red"), ("green", "green"), ("blue", "blue"), ("orange", "orange")]
color_cycle = cycle(colors)

In [4]:
program = "coloring"
# program = "maximal_matching"
# program = "dijkstra"
# graph_name = "graph_powerlaw_cluster_graph_n7"
# graph_name = "implicit_graph_n8"
graph_name = "graph_7"
sched = 0
no_simulations = 100000
me = False
fault_interval = 2

duong_mode = True

selected_nodes = [4, 5, 9]

In [5]:
def get_filename(graph_name, sched, simulation_type, args, no_simulations, me, fault_interval):
    return f"{graph_name}__{sched}__{simulation_type}_args_{args}__{no_simulations}__{me}__{fault_interval}"

In [6]:
filenames = [
    get_filename(
        graph_name,
        sched,
        SimulationMixin.RANDOM_FAULT_SIMULATION_TYPE,
        "",
        no_simulations,
        me,
        fault_interval,
    )
]
if duong_mode:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE_DUONG,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )
else:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )

In [7]:
dfs = [pd.read_csv(os.path.join("results", program, f"{fn}.csv")) for fn in filenames]

In [8]:
max_steps = max(df['Steps'].max() for df in dfs)
max_steps

np.int64(35)

In [9]:
bins = np.linspace(0, max_steps, max_steps+1)
# bin_centers = (bins[:-1] + bins[1:]) / 2
bin_centers = bins

In [10]:
bins

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35.])

In [11]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_data[0][0]

array([    0, 39791,  5550, 22753,  3316, 12180,  1744,  6467,   876,
        3265,   417,  1565,   224,   816,   138,   376,    56,   193,
          24,   109,    16,    58,     9,    28,     3,    10,     1,
           8,     1,     4,     0,     0,     1,     1,     0])

In [12]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_df = []
for hd in hist_data:
    hist_df.append(
        pd.DataFrame({
            'Steps': bin_centers[:-1],
            'Count': hd[0]
        })
    )

In [13]:
hist_df[0]

    Steps  Count
0     0.0      0
1     1.0  39791
2     2.0   5550
3     3.0  22753
4     4.0   3316
5     5.0  12180
6     6.0   1744
7     7.0   6467
8     8.0    876
9     9.0   3265
10   10.0    417
11   11.0   1565
12   12.0    224
13   13.0    816
14   14.0    138
15   15.0    376
16   16.0     56
17   17.0    193
18   18.0     24
19   19.0    109
20   20.0     16
21   21.0     58
22   22.0      9
23   23.0     28
24   24.0      3
25   25.0     10
26   26.0      1
27   27.0      8
28   28.0      1
29   29.0      4
30   30.0      0
31   31.0      0
32   32.0      1
33   33.0      1
34   34.0      0

In [14]:
df_merged = hist_df[0]
for i in range(1, len(hist_df)):
    df_merged = pd.merge(df_merged, hist_df[i], on=["Steps"], suffixes=(i-1, i))
df_merged

    Steps  Count0  Count1  Count2  Count3
0     0.0       0       0       0       0
1     1.0   39791   40152   40087   40280
2     2.0    5550    5660    4512    5963
3     3.0   22753   23097   23421   22247
4     4.0    3316    3271    2610    3386
5     5.0   12180   12303   12709   12066
6     6.0    1744    1761    1423    1744
7     7.0    6467    6061    6658    6290
8     8.0     876     902     754     941
9     9.0    3265    2965    3465    3072
10   10.0     417     420     380     474
11   11.0    1565    1509    1782    1551
12   12.0     224     212     197     236
13   13.0     816     728     922     786
14   14.0     138     102     109     116
15   15.0     376     370     443     372
16   16.0      56      55      57      61
17   17.0     193     207     196     178
18   18.0      24      24      29      26
19   19.0     109      75     121      89
20   20.0      16      22       9      15
21   21.0      58      37      43      45
22   22.0       9      16       6       5
23   23.0      28      22      31      22
24   24.0       3       4       0       4
25   25.0      10       9      17      17
26   26.0       1       2       3       2
27   27.0       8       9       6       5
28   28.0       1       0       0       2
29   29.0       4       0       5       3
30   30.0       0       0       1       0
31   31.0       0       2       3       1
32   32.0       1       0       0       1
33   33.0       1       2       1       0
34   34.0       0       1       0       0

In [15]:
df_merged.set_index('Steps', drop=True, inplace=True)
df_merged

       Count0  Count1  Count2  Count3
Steps
0.0         0       0       0       0
1.0     39791   40152   40087   40280
2.0      5550    5660    4512    5963
3.0     22753   23097   23421   22247
4.0      3316    3271    2610    3386
5.0     12180   12303   12709   12066
6.0      1744    1761    1423    1744
7.0      6467    6061    6658    6290
8.0       876     902     754     941
9.0      3265    2965    3465    3072
10.0      417     420     380     474
11.0     1565    1509    1782    1551
12.0      224     212     197     236
13.0      816     728     922     786
14.0      138     102     109     116
15.0      376     370     443     372
16.0       56      55      57      61
17.0      193     207     196     178
18.0       24      24      29      26
19.0      109      75     121      89
20.0       16      22       9      15
21.0       58      37      43      45
22.0        9      16       6       5
23.0       28      22      31      22
24.0        3       4       0       4
25.0       10       9      17      17
26.0        1       2       3       2
27.0        8       9       6       5
28.0        1       0       0       2
29.0        4       0       5       3
30.0        0       0       1       0
31.0        0       2       3       1
32.0        1       0       0       1
33.0        1       2       1       0
34.0        0       1       0       0

In [16]:
def get_title():
    return f"Simulation - {program} | {graph_name} | Sched: {sched} | N: {no_simulations:,} | FI: {fault_interval}"

In [17]:
def get_filename():
    return f"{graph_name}__{sched}__{no_simulations:,}__{fault_interval}__{''.join([str(i) for i in selected_nodes])}{'__duong' if duong_mode else ''}"

In [18]:
plt.figure(figsize=(16, 8))
ax = sns.lineplot(data=df_merged, linewidth=3)
ax.set_title(get_title(), fontdict={"fontsize": fontsize})

# ax.set_yscale("log")
for i, line in enumerate(ax.lines):
    if i >= 1:
        line_style = "solid"
        line.set_color(next(color_cycle)[0])
    else:
        line_style = "dashed"
        line.set_color("goldenrod")
    line.set_linestyle(line_style)

ax.tick_params(axis="x", labelsize=fontsize)
ax.tick_params(axis="y", labelsize=fontsize)
ax.xaxis.label.set_size(fontsize)
ax.yaxis.label.set_size(fontsize)

ax.set_xlabel("Steps")
ax.set_ylabel("Count")

labels = ["Random Fault"]
labels.extend(
    [
        f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
        for n in selected_nodes
    ]
)
custom_lines = [
    mlines.Line2D(
        [],
        [],
        color=line.get_color(),
        # marker=marker,
        label=cat,
        linewidth=1,
        linestyle=line.get_linestyle(),
    )
    for line, cat in zip(ax.lines, labels)
]
plt.rc("font", size=fontsize)
plt.legend(handles=custom_lines, fontsize=fontsize * 0.9)
file_path = os.path.join(
    plots_dir,
    program,
    f"{get_filename()}.png",
)
plt.savefig(
    file_path,
    bbox_inches="tight",
)
plt.close()

print(f"Saved plot(s) for {file_path}")

Saved plot(s) for plots/coloring/graph_7__0__100,000__2__459__duong.png