In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.lines as mlines

from itertools import cycle
from matplotlib import pyplot as plt

from simulation import SimulationMixin

In [2]:
fontsize = 20

plots_dir = "plots"

In [3]:
colors = [("red", "red"), ("green", "green"), ("blue", "blue"), ("orange", "orange")]
color_cycle = cycle(colors)

In [4]:
# program = "graph_coloring"
program = "dijkstra_token_ring"
# program = "dijkstra"
# graph_name = "graph_powerlaw_cluster_graph_n7"
# graph_name = "implicit_graph_n8"
graph_name = "implicit_graph_n7"
sched = 0
no_simulations = 10000
me = False
fault_interval = 1

duong_mode = True

selected_nodes = [6]

In [5]:
def get_filename(graph_name, sched, simulation_type, args, no_simulations, me, fault_interval):
    return f"{graph_name}__{sched}__{simulation_type}_args_{args}__{no_simulations}__{me}__{fault_interval}"

In [6]:
# filenames = [
#     get_filename(
#         graph_name,
#         sched,
#         SimulationMixin.RANDOM_FAULT_SIMULATION_TYPE,
#         "",
#         no_simulations,
#         me,
#         fault_interval,
#     )
# ]
filenames = []
if duong_mode:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE_DUONG,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )
else:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )

In [7]:
dfs = [pd.read_csv(os.path.join("results", program, f"{fn}.csv")) for fn in filenames]

In [8]:
max_steps = max(df['Steps'].max() for df in dfs)
max_steps

np.int64(561)

In [9]:
bins = np.linspace(3, max_steps, max_steps+1)
# bin_centers = (bins[:-1] + bins[1:]) / 2
bin_centers = bins

In [10]:
bins

array([  3.        ,   3.99465241,   4.98930481,   5.98395722,
         6.97860963,   7.97326203,   8.96791444,   9.96256684,
        10.95721925,  11.95187166,  12.94652406,  13.94117647,
        14.93582888,  15.93048128,  16.92513369,  17.9197861 ,
        18.9144385 ,  19.90909091,  20.90374332,  21.89839572,
        22.89304813,  23.88770053,  24.88235294,  25.87700535,
        26.87165775,  27.86631016,  28.86096257,  29.85561497,
        30.85026738,  31.84491979,  32.83957219,  33.8342246 ,
        34.82887701,  35.82352941,  36.81818182,  37.81283422,
        38.80748663,  39.80213904,  40.79679144,  41.79144385,
        42.78609626,  43.78074866,  44.77540107,  45.77005348,
        46.76470588,  47.75935829,  48.7540107 ,  49.7486631 ,
        50.74331551,  51.73796791,  52.73262032,  53.72727273,
        54.72192513,  55.71657754,  56.71122995,  57.70588235,
        58.70053476,  59.69518717,  60.68983957,  61.68449198,
        62.67914439,  63.67379679,  64.6684492 ,  65.6631016 ,
        66.65775401,  67.65240642,  68.64705882,  69.64171123,
        70.63636364,  71.63101604,  72.62566845,  73.62032086,
        74.61497326,  75.60962567,  76.60427807,  77.59893048,
        78.59358289,  79.58823529,  80.5828877 ,  81.57754011,
        82.57219251,  83.56684492,  84.56149733,  85.55614973,
        86.55080214,  87.54545455,  88.54010695,  89.53475936,
        90.52941176,  91.52406417,  92.51871658,  93.51336898,
        94.50802139,  95.5026738 ,  96.4973262 ,  97.49197861,
        98.48663102,  99.48128342, 100.47593583, 101.47058824,
       102.46524064, 103.45989305, 104.45454545, 105.44919786,
       106.44385027, 107.43850267, 108.43315508, 109.42780749,
       110.42245989, 111.4171123 , 112.41176471, 113.40641711,
       114.40106952, 115.39572193, 116.39037433, 117.38502674,
       118.37967914, 119.37433155, 120.36898396, 121.36363636,
       122.35828877, 123.35294118, 124.34759358, 125.34224599,
       126.3368984 , 127.3315508 , 128.32620321, 129.32085561,
       130.31550802, 131.31016043, 132.30481283, 133.29946524,
       134.29411765, 135.28877005, 136.28342246, 137.27807487,
       138.27272727, 139.26737968, 140.26203209, 141.25668449,
       142.2513369 , 143.2459893 , 144.24064171, 145.23529412,
       146.22994652, 147.22459893, 148.21925134, 149.21390374,
       150.20855615, 151.20320856, 152.19786096, 153.19251337,
       154.18716578, 155.18181818, 156.17647059, 157.17112299,
       158.1657754 , 159.16042781, 160.15508021, 161.14973262,
       162.14438503, 163.13903743, 164.13368984, 165.12834225,
       166.12299465, 167.11764706, 168.11229947, 169.10695187,
       170.10160428, 171.09625668, 172.09090909, 173.0855615 ,
       174.0802139 , 175.07486631, 176.06951872, 177.06417112,
       178.05882353, 179.05347594, 180.04812834, 181.04278075,
       182.03743316, 183.03208556, 184.02673797, 185.02139037,
       186.01604278, 187.01069519, 188.00534759, 189.        ,
       189.99465241, 190.98930481, 191.98395722, 192.97860963,
       193.97326203, 194.96791444, 195.96256684, 196.95721925,
       197.95187166, 198.94652406, 199.94117647, 200.93582888,
       201.93048128, 202.92513369, 203.9197861 , 204.9144385 ,
       205.90909091, 206.90374332, 207.89839572, 208.89304813,
       209.88770053, 210.88235294, 211.87700535, 212.87165775,
       213.86631016, 214.86096257, 215.85561497, 216.85026738,
       217.84491979, 218.83957219, 219.8342246 , 220.82887701,
       221.82352941, 222.81818182, 223.81283422, 224.80748663,
       225.80213904, 226.79679144, 227.79144385, 228.78609626,
       229.78074866, 230.77540107, 231.77005348, 232.76470588,
       233.75935829, 234.7540107 , 235.7486631 , 236.74331551,
       237.73796791, 238.73262032, 239.72727273, 240.72192513,
       241.71657754, 242.71122995, 243.70588235, 244.70053476,
       245.69518717, 246.68983957, 247.68449198, 248.67914439,
       249.67379679, 250.6684492 , 251.6631016 , 252.65775401,
       253.65240642, 254.64705882, 255.64171123, 256.63636364,
       257.63101604, 258.62566845, 259.62032086, 260.61497326,
       261.60962567, 262.60427807, 263.59893048, 264.59358289,
       265.58823529, 266.5828877 , 267.57754011, 268.57219251,
       269.56684492, 270.56149733, 271.55614973, 272.55080214,
       273.54545455, 274.54010695, 275.53475936, 276.52941176,
       277.52406417, 278.51871658, 279.51336898, 280.50802139,
       281.5026738 , 282.4973262 , 283.49197861, 284.48663102,
       285.48128342, 286.47593583, 287.47058824, 288.46524064,
       289.45989305, 290.45454545, 291.44919786, 292.44385027,
       293.43850267, 294.43315508, 295.42780749, 296.42245989,
       297.4171123 , 298.41176471, 299.40641711, 300.40106952,
       301.39572193, 302.39037433, 303.38502674, 304.37967914,
       305.37433155, 306.36898396, 307.36363636, 308.35828877,
       309.35294118, 310.34759358, 311.34224599, 312.3368984 ,
       313.3315508 , 314.32620321, 315.32085561, 316.31550802,
       317.31016043, 318.30481283, 319.29946524, 320.29411765,
       321.28877005, 322.28342246, 323.27807487, 324.27272727,
       325.26737968, 326.26203209, 327.25668449, 328.2513369 ,
       329.2459893 , 330.24064171, 331.23529412, 332.22994652,
       333.22459893, 334.21925134, 335.21390374, 336.20855615,
       337.20320856, 338.19786096, 339.19251337, 340.18716578,
       341.18181818, 342.17647059, 343.17112299, 344.1657754 ,
       345.16042781, 346.15508021, 347.14973262, 348.14438503,
       349.13903743, 350.13368984, 351.12834225, 352.12299465,
       353.11764706, 354.11229947, 355.10695187, 356.10160428,
       357.09625668, 358.09090909, 359.0855615 , 360.0802139 ,
       361.07486631, 362.06951872, 363.06417112, 364.05882353,
       365.05347594, 366.04812834, 367.04278075, 368.03743316,
       369.03208556, 370.02673797, 371.02139037, 372.01604278,
       373.01069519, 374.00534759, 375.        , 375.99465241,
       376.98930481, 377.98395722, 378.97860963, 379.97326203,
       380.96791444, 381.96256684, 382.95721925, 383.95187166,
       384.94652406, 385.94117647, 386.93582888, 387.93048128,
       388.92513369, 389.9197861 , 390.9144385 , 391.90909091,
       392.90374332, 393.89839572, 394.89304813, 395.88770053,
       396.88235294, 397.87700535, 398.87165775, 399.86631016,
       400.86096257, 401.85561497, 402.85026738, 403.84491979,
       404.83957219, 405.8342246 , 406.82887701, 407.82352941,
       408.81818182, 409.81283422, 410.80748663, 411.80213904,
       412.79679144, 413.79144385, 414.78609626, 415.78074866,
       416.77540107, 417.77005348, 418.76470588, 419.75935829,
       420.7540107 , 421.7486631 , 422.74331551, 423.73796791,
       424.73262032, 425.72727273, 426.72192513, 427.71657754,
       428.71122995, 429.70588235, 430.70053476, 431.69518717,
       432.68983957, 433.68449198, 434.67914439, 435.67379679,
       436.6684492 , 437.6631016 , 438.65775401, 439.65240642,
       440.64705882, 441.64171123, 442.63636364, 443.63101604,
       444.62566845, 445.62032086, 446.61497326, 447.60962567,
       448.60427807, 449.59893048, 450.59358289, 451.58823529,
       452.5828877 , 453.57754011, 454.57219251, 455.56684492,
       456.56149733, 457.55614973, 458.55080214, 459.54545455,
       460.54010695, 461.53475936, 462.52941176, 463.52406417,
       464.51871658, 465.51336898, 466.50802139, 467.5026738 ,
       468.4973262 , 469.49197861, 470.48663102, 471.48128342,
       472.47593583, 473.47058824, 474.46524064, 475.45989305,
       476.45454545, 477.44919786, 478.44385027, 479.43850267,
       480.43315508, 481.42780749, 482.42245989, 483.4171123 ,
       484.41176471, 485.40641711, 486.40106952, 487.39572193,
       488.39037433, 489.38502674, 490.37967914, 491.37433155,
       492.36898396, 493.36363636, 494.35828877, 495.35294118,
       496.34759358, 497.34224599, 498.3368984 , 499.3315508 ,
       500.32620321, 501.32085561, 502.31550802, 503.31016043,
       504.30481283, 505.29946524, 506.29411765, 507.28877005,
       508.28342246, 509.27807487, 510.27272727, 511.26737968,
       512.26203209, 513.25668449, 514.2513369 , 515.2459893 ,
       516.24064171, 517.23529412, 518.22994652, 519.22459893,
       520.21925134, 521.21390374, 522.20855615, 523.20320856,
       524.19786096, 525.19251337, 526.18716578, 527.18181818,
       528.17647059, 529.17112299, 530.1657754 , 531.16042781,
       532.15508021, 533.14973262, 534.14438503, 535.13903743,
       536.13368984, 537.12834225, 538.12299465, 539.11764706,
       540.11229947, 541.10695187, 542.10160428, 543.09625668,
       544.09090909, 545.0855615 , 546.0802139 , 547.07486631,
       548.06951872, 549.06417112, 550.05882353, 551.05347594,
       552.04812834, 553.04278075, 554.03743316, 555.03208556,
       556.02673797, 557.02139037, 558.01604278, 559.01069519,
       560.00534759, 561.        ])

In [11]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_data[0][0]

array([236, 198, 203, 203, 174, 171, 173, 201, 191, 166, 170, 181, 169,
       175, 181, 149, 145, 128, 115, 149, 131, 124, 136, 114, 119, 142,
       127, 116,  99, 104, 107,  99, 102,  97, 104,  96,  89,  96, 100,
        96,  62,  76,  74,  71,  66,  77,  74,  74,  71,  60,  69,  80,
        66,  64,  65,  62,  68,  68,  49,  62,  62,  49,  52,  60,  48,
        57,  53,  61,  48,  49,  37,  45,  44,  38,  45,  44,  39,  38,
        36,  37,  37,  46,  34,  36,  40,  29,  25,  32,  28,  33,  20,
        26,  29,  22,  17,  19,  22,  21,  32,  27,  21,  19,  22,  21,
        17,  19,  16,  17,  17,  19,  15,  21,  10,  20,  15,  21,  22,
        14,  18,  13,  15,  11,  16,   8,  12,  13,   7,  13,  18,   8,
        15,  11,  13,   7,  10,   8,  11,  12,  10,   4,   7,   6,   5,
         4,   8,   9,   4,   6,   6,   3,   8,  10,   9,   6,  10,  13,
         7,   9,   8,   3,   9,   6,   6,   6,   6,   4,   4,   2,   8,
         4,   0,   3,   4,   3,   7,   4,   4,   4,   3,   3,   3,   5,
         5,   4,   3,   3,   0,   5,   1,   6,   5,   0,   1,   1,   2,
         1,   3,   4,   1,   0,   2,   2,   5,   2,   2,   2,   3,   2,
         1,   2,   3,   0,   0,   3,   1,   2,   0,   0,   3,   2,   0,
         3,   1,   0,   2,   2,   1,   0,   2,   2,   1,   1,   0,   0,
         1,   0,   0,   1,   0,   0,   2,   0,   2,   0,   1,   0,   0,
         0,   0,   0,   0,   1,   0,   3,   0,   0,   0,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   1,   0,   1,
         0,   1,   0,   0,   0,   0,   0,   2,   1,   0,   0,   0,   0,
         1,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   1,   0,   1,   1,   0,   0,
         0,   0,   0,   0,   0,   2,   0,   0,   1,   0,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   1,   1,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1,
         0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   1])

In [12]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_df = []
for hd in hist_data:
    hist_df.append(
        pd.DataFrame({
            'Steps': bin_centers[:-1],
            'Count': hd[0]
        })
    )

In [13]:
hist_df[0]

          Steps  Count
0      3.000000    236
1      3.994652    198
2      4.989305    203
3      5.983957    203
4      6.978610    174
..          ...    ...
556  556.026738      0
557  557.021390      0
558  558.016043      0
559  559.010695      0
560  560.005348      1

[561 rows x 2 columns]

In [14]:
df_merged = hist_df[0]
for i in range(1, len(hist_df)):
    df_merged = pd.merge(df_merged, hist_df[i], on=["Steps"], suffixes=(i-1, i))
df_merged

          Steps  Count
0      3.000000    236
1      3.994652    198
2      4.989305    203
3      5.983957    203
4      6.978610    174
..          ...    ...
556  556.026738      0
557  557.021390      0
558  558.016043      0
559  559.010695      0
560  560.005348      1

[561 rows x 2 columns]

In [15]:
df_merged.set_index('Steps', drop=True, inplace=True)
df_merged

            Count
Steps
3.000000      236
3.994652      198
4.989305      203
5.983957      203
6.978610      174
...           ...
556.026738      0
557.021390      0
558.016043      0
559.010695      0
560.005348      1

[561 rows x 1 columns]

In [16]:
def get_title():
    return f"Simulation - {program} | {graph_name} | Sched: {sched} | N: {no_simulations:,} | FI: {fault_interval}"

In [17]:
def get_filename():
    return f"{program}__{graph_name}__{sched}__{no_simulations}__{fault_interval}__{''.join([str(i) for i in selected_nodes])}{'__duong' if duong_mode else ''}"

In [18]:
from scipy.optimize import curve_fit


def exp_func(x, a, b, c):
    return a * np.exp(-b * x) + c


# Fit the curve
popt, _ = curve_fit(exp_func, df_merged.index, df_merged["Count"], p0= [10, 0.5, 0])
y_fit = exp_func(df_merged.index, popt[0], popt[1], popt[2])
df_merged[f"exp_fit"] = y_fit

/home/agaru/anaconda3/envs/cvf/lib/python3.13/site-packages/pandas/core/indexes/base.py:952: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*new_inputs, **kwargs)

In [19]:
plt.figure(figsize=(16, 8))
ax = sns.lineplot(data=df_merged, linewidth=1)
ax.set_title(get_title(), fontdict={"fontsize": fontsize})

# ax.set_yscale("log")
for i, line in enumerate(ax.lines):
    if i >= 0:
        line_style = "solid"
        line.set_color(next(color_cycle)[0])
    else:
        line_style = "dashed"
        line.set_color("goldenrod")
    line.set_linestyle(line_style)

ax.tick_params(axis="x", labelsize=fontsize)
ax.tick_params(axis="y", labelsize=fontsize)
ax.xaxis.label.set_size(fontsize)
ax.yaxis.label.set_size(fontsize)

ax.set_xlabel("Steps")
ax.set_ylabel("Count")

# labels = ["Random Fault"]
labels = []
labels.extend(
    [
        f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
        for n in selected_nodes
    ]
)
labels.append(f"$y = {popt[0]:.2f}e^{{{-popt[1]:.2f}x}} + {popt[1]:.2f}$")

custom_lines = [
    mlines.Line2D(
        [],
        [],
        color=line.get_color(),
        # marker=marker,
        label=cat,
        linestyle=line.get_linestyle(),
    )
    for line, cat in zip(ax.lines, labels)
]
plt.rc("font", size=fontsize)
plt.legend(handles=custom_lines, fontsize=fontsize * 0.9)
file_path = os.path.join(
    plots_dir,
    program,
    f"{get_filename()}.png",
)


plt.savefig(
    file_path,
    bbox_inches="tight",
)
plt.close()

print(f"Saved plot(s) for {file_path}")

Saved plot(s) for plots/dijkstra_token_ring/dijkstra_token_ring__implicit_graph_n7__0__10000__1__6__duong.png

In [20]:
df_merged

            Count     exp_fit
Steps
3.000000      236  212.775588
3.994652      198  208.020928
4.989305      203  203.372495
5.983957      203  198.827915
6.978610      174  194.384867
...           ...         ...
556.026738      0   -0.041430
557.021390      0   -0.041446
558.016043      0   -0.041462
559.010695      0   -0.041478
560.005348      1   -0.041494

[561 rows x 2 columns]

In [21]:
# Save to file
cols = [
    f'Controlled {"(duong)" if duong_mode else ""} at node {n}' for n in selected_nodes
]
cols.append("exp_curve")
# df_merged.index = df_merged.index.astype(int)
df_merged.to_csv(os.path.join("results", program, f"w_exp_{get_filename()}.csv"))