In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.lines as mlines

from itertools import cycle
from matplotlib import pyplot as plt

from simulation import SimulationMixin

In [2]:
fontsize = 20

plots_dir = "plots"

In [3]:
colors = [("red", "red"), ("green", "green"), ("blue", "blue"), ("orange", "orange")]
color_cycle = cycle(colors)

In [4]:
# program = "coloring"
# program = "maximal_matching"
program = "dijkstra"
# graph_name = "graph_powerlaw_cluster_graph_n7"
graph_name = "implicit_graph_n8"
sched = 0
no_simulations = 500000
me = False
fault_interval = 1

duong_mode = True

selected_nodes = [0, 2, 7]

In [5]:
def get_filename(graph_name, sched, simulation_type, args, no_simulations, me, fault_interval):
    return f"{graph_name}__{sched}__{simulation_type}_args_{args}__{no_simulations}__{me}__{fault_interval}"

In [6]:
filenames = [
    get_filename(
        graph_name,
        sched,
        SimulationMixin.RANDOM_FAULT_SIMULATION_TYPE,
        "",
        no_simulations,
        me,
        fault_interval,
    )
]
if duong_mode:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE_DUONG,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )
else:
    filenames.extend(
        [
            get_filename(
                graph_name,
                sched,
                SimulationMixin.CONTROLLED_FAULT_AT_NODE_SIMULATION_TYPE,
                arg,
                no_simulations,
                me,
                fault_interval,
            )
            for arg in selected_nodes
        ]
    )

In [7]:
dfs = [pd.read_csv(os.path.join("results", program, f"{fn}.csv")) for fn in filenames]

In [8]:
max_steps = max(df['Steps'].max() for df in dfs)
max_steps

np.int64(42)

In [9]:
bins = np.linspace(0, max_steps, max_steps+1)
# bin_centers = (bins[:-1] + bins[1:]) / 2
bin_centers = bins

In [10]:
bins

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42.])

In [11]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_data[0][0]

array([    0,  4929, 14340, 28158, 39955, 48662, 52099, 51355, 47453,
       42607, 36942, 31314, 25710, 20242, 15690, 11725,  8582,  6254,
        4357,  2982,  2071,  1434,  1067,   706,   491,   317,   184,
         143,    93,    50,    31,    23,    12,    10,     5,     1,
           4,     1,     0,     1,     0,     0])

In [12]:
hist_data = [np.histogram(df['Steps'], bins=bins) for df in dfs]
hist_df = []
for hd in hist_data:
    hist_df.append(
        pd.DataFrame({
            'Steps': bin_centers[:-1],
            'Count': hd[0]
        })
    )

In [13]:
hist_df[0]

    Steps  Count
0     0.0      0
1     1.0   4929
2     2.0  14340
3     3.0  28158
4     4.0  39955
5     5.0  48662
6     6.0  52099
7     7.0  51355
8     8.0  47453
9     9.0  42607
10   10.0  36942
11   11.0  31314
12   12.0  25710
13   13.0  20242
14   14.0  15690
15   15.0  11725
16   16.0   8582
17   17.0   6254
18   18.0   4357
19   19.0   2982
20   20.0   2071
21   21.0   1434
22   22.0   1067
23   23.0    706
24   24.0    491
25   25.0    317
26   26.0    184
27   27.0    143
28   28.0     93
29   29.0     50
30   30.0     31
31   31.0     23
32   32.0     12
33   33.0     10
34   34.0      5
35   35.0      1
36   36.0      4
37   37.0      1
38   38.0      0
39   39.0      1
40   40.0      0
41   41.0      0

In [14]:
df_merged = hist_df[0]
for i in range(1, len(hist_df)):
    df_merged = pd.merge(df_merged, hist_df[i], on=["Steps"], suffixes=(i-1, i))
df_merged

    Steps  Count0  Count1  Count2  Count3
0     0.0       0       0       0       0
1     1.0    4929    4866    4876    5098
2     2.0   14340   14417   14570   14327
3     3.0   28158   27922   28276   28049
4     4.0   39955   40305   40052   40074
5     5.0   48662   48573   48669   48750
6     6.0   52099   52000   52324   51927
7     7.0   51355   51622   51404   51288
8     8.0   47453   47276   47565   47372
9     9.0   42607   42259   42418   42290
10   10.0   36942   36715   37119   36903
11   11.0   31314   31231   30557   31154
12   12.0   25710   25779   25255   25654
13   13.0   20242   20467   20153   20362
14   14.0   15690   15846   15921   15851
15   15.0   11725   11768   11881   11981
16   16.0    8582    8776    8591    8616
17   17.0    6254    6321    6353    6331
18   18.0    4357    4335    4433    4345
19   19.0    2982    3098    2995    3040
20   20.0    2071    1996    2093    2045
21   21.0    1434    1448    1511    1406
22   22.0    1067     984    1003    1057
23   23.0     706     677     652     720
24   24.0     491     451     449     457
25   25.0     317     295     307     312
26   26.0     184     207     198     194
27   27.0     143     141     134     140
28   28.0      93      88      80      91
29   29.0      50      49      75      59
30   30.0      31      29      34      39
31   31.0      23      24      22      28
32   32.0      12      18      12      22
33   33.0      10       4       6       5
34   34.0       5       5       6       8
35   35.0       1       2       1       2
36   36.0       4       3       2       2
37   37.0       1       0       1       0
38   38.0       0       2       1       0
39   39.0       1       0       0       0
40   40.0       0       0       0       0
41   41.0       0       1       1       1

In [15]:
df_merged.set_index('Steps', drop=True, inplace=True)
df_merged

       Count0  Count1  Count2  Count3
Steps
0.0         0       0       0       0
1.0      4929    4866    4876    5098
2.0     14340   14417   14570   14327
3.0     28158   27922   28276   28049
4.0     39955   40305   40052   40074
5.0     48662   48573   48669   48750
6.0     52099   52000   52324   51927
7.0     51355   51622   51404   51288
8.0     47453   47276   47565   47372
9.0     42607   42259   42418   42290
10.0    36942   36715   37119   36903
11.0    31314   31231   30557   31154
12.0    25710   25779   25255   25654
13.0    20242   20467   20153   20362
14.0    15690   15846   15921   15851
15.0    11725   11768   11881   11981
16.0     8582    8776    8591    8616
17.0     6254    6321    6353    6331
18.0     4357    4335    4433    4345
19.0     2982    3098    2995    3040
20.0     2071    1996    2093    2045
21.0     1434    1448    1511    1406
22.0     1067     984    1003    1057
23.0      706     677     652     720
24.0      491     451     449     457
25.0      317     295     307     312
26.0      184     207     198     194
27.0      143     141     134     140
28.0       93      88      80      91
29.0       50      49      75      59
30.0       31      29      34      39
31.0       23      24      22      28
32.0       12      18      12      22
33.0       10       4       6       5
34.0        5       5       6       8
35.0        1       2       1       2
36.0        4       3       2       2
37.0        1       0       1       0
38.0        0       2       1       0
39.0        1       0       0       0
40.0        0       0       0       0
41.0        0       1       1       1

In [16]:
def get_title():
    return f"Simulation - {program} | {graph_name} | Sched: {sched} | N: {no_simulations:,} | FI: {fault_interval}"

In [17]:
def get_filename():
    return f"{graph_name}__{sched}__{no_simulations:,}__{fault_interval}__{''.join([str(i) for i in selected_nodes])}{'__duong' if duong_mode else ''}"

In [18]:
plt.figure(figsize=(16, 8))
ax = sns.lineplot(data=df_merged, marker="o", linewidth=3)
ax.set_title(get_title(), fontdict={"fontsize": fontsize})

# ax.set_yscale("log")
for i, line in enumerate(ax.lines):
    if i >= 1:
        line_style = "solid"
        line.set_color(next(color_cycle)[0])
    else:
        line_style = "dashed"
        line.set_color("goldenrod")
    line.set_linestyle(line_style)

ax.tick_params(axis="x", labelsize=fontsize)
ax.tick_params(axis="y", labelsize=fontsize)
ax.xaxis.label.set_size(fontsize)
ax.yaxis.label.set_size(fontsize)

ax.set_xlabel("Steps")
ax.set_ylabel("Count")

labels = ["Random Fault"]
labels.extend(
    [
        f'Controlled {"(duong)" if duong_mode else ""} at node {n}'
        for n in selected_nodes
    ]
)
custom_lines = [
    mlines.Line2D(
        [],
        [],
        color=line.get_color(),
        # marker=marker,
        label=cat,
        linewidth=1,
        linestyle=line.get_linestyle(),
    )
    for line, cat in zip(ax.lines, labels)
]
plt.rc("font", size=fontsize)
plt.legend(handles=custom_lines, fontsize=fontsize * 0.9)
file_path = os.path.join(
    plots_dir,
    program,
    f"{get_filename()}.png",
)
plt.savefig(
    file_path,
    bbox_inches="tight",
)
plt.close()

print(f"Saved plot(s) for {file_path}")

Saved plot(s) for plots/dijkstra/implicit_graph_n8__0__500,000__1__027__duong.png