In [1]:
import os

import pandas as pd

In [2]:
def get_dataset(program, dataset_file):
    dataset_dir = os.path.join(
        os.getenv("CVF_PROJECT_DIR", ""), "cvf-analysis", "v2", "datasets", program
    )
    return pd.read_csv(os.path.join(dataset_dir, dataset_file))

In [3]:
df = get_dataset(
    "coloring",
    "graph_random_regular_graph_n8_d4_config_rank_dataset.csv",
)['M'].value_counts().to_frame()

df

    count
M
3  126620
4   93480
2   93000
1   42720
5   25780
0    7320
6    1700
7       5

In [4]:
df['percent'] = (df['count']/df['count'].sum() * 100).round(2)
df

    count  percent
M
3  126620    32.41
4   93480    23.93
2   93000    23.81
1   42720    10.94
5   25780     6.60
0    7320     1.87
6    1700     0.44
7       5     0.00