In [1]:
import os

import pandas as pd

In [2]:
def get_dataset(program, dataset_file):
    dataset_dir = os.path.join(
        os.getenv("CVF_PROJECT_DIR", ""), "cvf-analysis", "v2", "datasets", program
    )
    return pd.read_csv(os.path.join(dataset_dir, dataset_file))

In [3]:
df = get_dataset(
    "dijkstra",
    "implicit_graph_n5_config_rank_dataset.csv",
)['rank'].value_counts().to_frame()

df

      count
rank
0        45
12       27
5        21
8        18
4        18
13       15
3        15
10       15
11       12
15       12
7        12
6        12
1         6
2         6
14        6
9         3

In [4]:
df['percent'] = (df['count']/df['count'].sum() * 100).round(2)
df.to_csv("graph_random_regular_graph_n8_d4_analyze_dataset.csv")

In [5]:
df

      count  percent
rank
0        45    18.52
12       27    11.11
5        21     8.64
8        18     7.41
4        18     7.41
13       15     6.17
3        15     6.17
10       15     6.17
11       12     4.94
15       12     4.94
7        12     4.94
6        12     4.94
1         6     2.47
2         6     2.47
14        6     2.47
9         3     1.23