In [1]:
import os

import pandas as pd

In [2]:
def get_dataset(program, dataset_file):
    dataset_dir = os.path.join(
        os.getenv("CVF_PROJECT_DIR", ""), "cvf-analysis", "v2", "datasets", program
    )
    return pd.read_csv(os.path.join(dataset_dir, dataset_file))

In [3]:
df = get_dataset(
    "coloring",
    "graph_random_regular_graph_n7_d4_config_rank_dataset.csv",
)['rank'].value_counts().to_frame()

df

      count
rank
3     28140
2     23940
1     11340
4     11200
0      2520
5       980
6         5

In [4]:
df['percent'] = (df['count']/df['count'].sum() * 100).round(2)
df.to_csv("graph_random_regular_graph_n8_d4_analyze_dataset.csv")

In [5]:
df

      count  percent
rank
3     28140    36.02
2     23940    30.64
1     11340    14.52
4     11200    14.34
0      2520     3.23
5       980     1.25
6         5     0.01