In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
# results_dir = "maximal_matching"
# results_dir = "maximal_independent_set"

In [4]:
# filename = "rank_effects_by_node_avg__test_graph_13"
filename = "rank_effects_avg__star_graph_n15"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

    Unnamed: 0  rank effect    count
0            0          -14       28
1            1          -13      364
2            2          -12     2394
3            3          -11     9464
4            4          -10    26208
5            5           -9    52052
6            6           -8    78806
7            7           -7    89232
8            8           -6    80080
9            9           -5    52052
10          10           -4    30030
11          11           -3     9464
12          12           -2     8372
13          13           -1   229740
14          14            0  5544708
15          15            1   229740
16          16            2     8372
17          17            3     9464
18          18            4    30030
19          19            5    52052
20          20            6    80080
21          21            7    89232
22          22            8    78806
23          23            9    52052
24          24           10    26208
25          25           11     9464
26          26           12     2394
27          27           13      364
28          28           14       28

In [ ]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

In [ ]:
# columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']
# columns = ['Node_1', 'Node_3', 'Node_5', 'Node_8']

# dft = dft[columns]
dft

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(df, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [ ]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

NameError: name 'dft' is not defined

In [ ]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [ ]:
plt.legend()
plt.tight_layout()
# plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)