In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"
results_dir = "maximal_independent_set"

In [ ]:
filename = "rank_effects_by_node_avg__graph_10"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

   node  -11  -9  -7  -6  -5  -4  -3   -1    1   3  4  5  6  7  11
0     0    1   0   1   0   0   1   1  508  508   1  1  0  0  1   1
1     1    0   1   0   0   0   1   0    0  477  32  0  0  0  1   0
2     2    0   1   0   0   0   1   0    0  477  32  0  0  0  1   0
3     3    0   1   0   0   0   1   0    0  477  32  0  0  0  1   0
4     4    0   1   0   0   1   1   0    0  464  44  0  1  0  0   0
5     5    1   0   0   1   1   0   1  508  508   1  0  1  1  0   1
6     6    0   1   0   0   1   0   0    0  493  16  0  0  1  0   0
7     7    0   1   0   0   1   0   0    0  493  16  0  0  1  0   0
8     8    0   1   0   0   1   0   0    0  493  16  0  0  1  0   0
9     9    0   1   0   0   1   0   0    0  493  16  0  0  1  0   0

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
-11,1,0,0,0,0,1,0,0,0,0
-9,0,1,1,1,1,0,1,1,1,1
-7,1,0,0,0,0,0,0,0,0,0
-6,0,0,0,0,0,1,0,0,0,0
-5,0,0,0,0,1,1,1,1,1,1
-4,1,1,1,1,1,0,0,0,0,0
-3,1,0,0,0,0,1,0,0,0,0
-1,508,0,0,0,0,508,0,0,0,0
1,508,477,477,477,464,508,493,493,493,493
3,1,32,32,32,44,1,16,16,16,16
4,1,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,1,0,0,0,0
6,0,0,0,0,0,1,1,1,1,1
7,1,1,1,1,0,0,0,0,0,0
11,1,0,0,0,0,1,0,0,0,0

In [8]:
columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']

dft = dft[columns]
dft

     Node_0  Node_4  Node_7  Node_9
-11       1       0       0       0
-9        0       1       1       1
-7        1       0       0       0
-6        0       0       0       0
-5        0       1       1       1
-4        1       1       0       0
-3        1       0       0       0
-1      508       0       0       0
1       508     464     493     493
3         1      44      16      16
4         1       0       0       0
5         0       1       0       0
6         0       0       1       1
7         1       0       0       0
11        1       0       0       0

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [13]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [14]:
plt.legend()
plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)