In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"

In [4]:
filename = "rank_effects_by_node_avg__graph_1"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

,node,-23,-22,-21,-20,-19,-17,-15,-13,-11,...,9,11,13,15,16,17,18,19,20,21
0,0,582039,7785,589500,324,2304,25344,119808,322560,548352,...,677376,612864,365568,138204,36,29943,9,2816,0,0
1,1,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
2,2,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
3,3,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
4,4,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
5,5,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
6,6,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
7,7,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
8,8,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832
9,9,64128,1408,62088,3704,2304,9216,21504,32256,32256,...,14336,17920,14336,7168,0,2048,0,256,3704,61832

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
-23,582039,64128,64128,64128,64128,64128,64128,64128,64128,64128
-22,7785,1408,1408,1408,1408,1408,1408,1408,1408,1408
-21,589500,62088,62088,62088,62088,62088,62088,62088,62088,62088
-20,324,3704,3704,3704,3704,3704,3704,3704,3704,3704
-19,2304,2304,2304,2304,2304,2304,2304,2304,2304,2304
-17,25344,9216,9216,9216,9216,9216,9216,9216,9216,9216
-15,119808,21504,21504,21504,21504,21504,21504,21504,21504,21504
-13,322560,32256,32256,32256,32256,32256,32256,32256,32256,32256
-11,548352,32256,32256,32256,32256,32256,32256,32256,32256,32256
-9,612864,21504,21504,21504,21504,21504,21504,21504,21504,21504
-7,437472,9216,9216,9216,9216,9216,9216,9216,9216,9216
-6,14112,0,0,0,0,0,0,0,0,0
-5,191556,2304,2304,2304,2304,2304,2304,2304,2304,2304
-4,20412,0,0,0,0,0,0,0,0,0
-3,45792,256,256,256,256,256,256,256,256,256
-2,11889,22332,22332,22332,22332,22332,22332,22332,22332,22332
-1,2366127,2787638,2787638,2787638,2787638,2787638,2787638,2787638,2787638,2787638
0,17640,20361,20361,20361,20361,20361,20361,20361,20361,20361
1,3528647,4597749,4597749,4597749,4597749,4597749,4597749,4597749,4597749,4597749
2,12726,43024,43024,43024,43024,43024,43024,43024,43024,43024
3,49563,256,256,256,256,256,256,256,256,256
4,22788,0,0,0,0,0,0,0,0,0
5,207612,2048,2048,2048,2048,2048,2048,2048,2048,2048
6,14952,0,0,0,0,0,0,0,0,0
7,479640,7168,7168,7168,7168,7168,7168,7168,7168,7168
9,677376,14336,14336,14336,14336,14336,14336,14336,14336,14336
11,612864,17920,17920,17920,17920,17920,17920,17920,17920,17920
13,365568,14336,14336,14336,14336,14336,14336,14336,14336,14336
15,138204,7168,7168,7168,7168,7168,7168,7168,7168,7168
16,36,0,0,0,0,0,0,0,0,0
17,29943,2048,2048,2048,2048,2048,2048,2048,2048,2048
18,9,0,0,0,0,0,0,0,0,0
19,2816,256,256,256,256,256,256,256,256,256
20,0,3704,3704,3704,3704,3704,3704,3704,3704,3704
21,0,61832,61832,61832,61832,61832,61832,61832,61832,61832

In [8]:
columns = ['Node_0', 'Node_4', 'Node_5', 'Node_9']

dft = dft[columns]
dft

      Node_0   Node_4   Node_5   Node_9
-23   582039    64128    64128    64128
-22     7785     1408     1408     1408
-21   589500    62088    62088    62088
-20      324     3704     3704     3704
-19     2304     2304     2304     2304
-17    25344     9216     9216     9216
-15   119808    21504    21504    21504
-13   322560    32256    32256    32256
-11   548352    32256    32256    32256
-9    612864    21504    21504    21504
-7    437472     9216     9216     9216
-6     14112        0        0        0
-5    191556     2304     2304     2304
-4     20412        0        0        0
-3     45792      256      256      256
-2     11889    22332    22332    22332
-1   2366127  2787638  2787638  2787638
0      17640    20361    20361    20361
1    3528647  4597749  4597749  4597749
2      12726    43024    43024    43024
3      49563      256      256      256
4      22788        0        0        0
5     207612     2048     2048     2048
6      14952        0        0        0
7     479640     7168     7168     7168
9     677376    14336    14336    14336
11    612864    17920    17920    17920
13    365568    14336    14336    14336
15    138204     7168     7168     7168
16        36        0        0        0
17     29943     2048     2048     2048
18         9        0        0        0
19      2816      256      256      256
20         0     3704     3704     3704
21         0    61832    61832    61832

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [ ]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [13]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [14]:
plt.legend()
plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/{filename}.png", dpi=500)