In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"

In [4]:
filename = "rank_effects_by_node_avg__graph_10"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

,node,-20,-19,-18,-17,-16,-15,-14,-13,-12,...,9,10,11,12,13,14,15,16,17,18
0,0,51,6911,145439,476560,102731,169386,79795,513384,807837,...,274952,20611,316387,27894,236471,28665,70556,11285,31,0
1,1,0,0,0,0,0,0,0,2835,361734,...,1195308,331839,890,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,2835,361734,...,1195308,331839,890,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,2835,361734,...,1195308,331839,890,0,0,0,0,0,0,0
4,4,78,16945,386315,859201,220446,329937,370366,799687,360161,...,324536,89974,436282,107141,585739,96427,260769,64190,2543,6
5,5,0,0,0,0,0,0,0,0,0,...,1947,0,0,0,0,0,0,0,0,0
6,6,0,0,0,0,0,0,0,0,0,...,1947,0,0,0,0,0,0,0,0,0
7,7,0,8764,274914,355861,158899,104490,166655,422538,926852,...,203000,89815,203361,139904,156364,106113,45580,35769,1319,0
8,8,0,0,0,0,0,0,0,1887,415449,...,1272645,251483,107,0,0,0,0,0,0,0
9,9,0,0,0,0,0,0,0,1887,415449,...,1272645,251483,107,0,0,0,0,0,0,0
10,10,0,0,0,0,0,0,0,1887,415449,...,1272645,251483,107,0,0,0,0,0,0,0

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,Node_10
-20,51,0,0,0,78,0,0,0,0,0,0
-19,6911,0,0,0,16945,0,0,8764,0,0,0
-18,145439,0,0,0,386315,0,0,274914,0,0,0
-17,476560,0,0,0,859201,0,0,355861,0,0,0
-16,102731,0,0,0,220446,0,0,158899,0,0,0
-15,169386,0,0,0,329937,0,0,104490,0,0,0
-14,79795,0,0,0,370366,0,0,166655,0,0,0
-13,513384,2835,2835,2835,799687,0,0,422538,1887,1887,1887
-12,807837,361734,361734,361734,360161,0,0,926852,415449,415449,415449
-11,4395896,1215560,1215560,1215560,669399,14695,14695,4282138,1167018,1167018,1167018
-10,1360444,530588,530588,530588,963792,802285,802285,1146445,484560,484560,484560
-9,4019681,1465265,1465265,1465265,2785858,788979,788979,4229549,1503321,1503321,1503321
-8,505953,505479,505479,505479,1389443,1060324,1060324,280472,341180,341180,341180
-7,1418587,832174,832174,832174,2382825,1361532,1361532,1745756,1001771,1001771,1001771
-6,1443162,359671,359671,359671,442322,480511,480511,649577,105623,105623,105623
-5,5691028,866701,866701,866701,3661640,1225519,1225519,7123360,1123169,1123169,1123169
-4,2358759,108411,108411,108411,1902618,74653,74653,1026952,15061,15061,15061
-3,7593738,303082,303082,303082,9336788,766829,766829,9156685,395750,395750,395750
-2,2885871,922245,922245,922245,2277138,2248413,2248413,1811643,1462072,1462072,1462072
-1,29317633,31915434,31915434,31915434,31518372,30604171,30604171,29257131,31708797,31708797,31708797
0,1706784,3590599,3590599,3590599,4347178,5419951,5419951,2403696,2801997,2801997,2801997
1,43996699,50704695,50704695,50704695,47340512,47545254,47545254,43472757,50296929,50296929,50296929
2,3393448,1344827,1344827,1344827,2841136,2634156,2634156,2117681,2202616,2202616,2202616
3,9517134,303082,303082,303082,11650960,745030,745030,11302114,394561,394561,394561
4,2935512,105434,105434,105434,2793068,74116,74116,1296730,15053,15053,15053
5,7573281,567952,567952,567952,4989375,483712,483712,9350578,741882,741882,741882
6,1685501,249803,249803,249803,614499,403655,403655,797613,77304,77304,77304
7,2058611,275764,275764,275764,358353,971886,971886,2503014,293745,293745,293745
8,478932,244628,244628,244628,49581,596382,596382,271511,230020,230020,230020
9,274952,1195308,1195308,1195308,324536,1947,1947,203000,1272645,1272645,1272645
10,20611,331839,331839,331839,89974,0,0,89815,251483,251483,251483
11,316387,890,890,890,436282,0,0,203361,107,107,107
12,27894,0,0,0,107141,0,0,139904,0,0,0
13,236471,0,0,0,585739,0,0,156364,0,0,0
14,28665,0,0,0,96427,0,0,106113,0,0,0
15,70556,0,0,0,260769,0,0,45580,0,0,0
16,11285,0,0,0,64190,0,0,35769,0,0,0
17,31,0,0,0,2543,0,0,1319,0,0,0
18,0,0,0,0,6,0,0,0,0,0,0

In [8]:
columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']

dft = dft[columns]
dft

       Node_0    Node_4    Node_7    Node_9
-20        51        78         0         0
-19      6911     16945      8764         0
-18    145439    386315    274914         0
-17    476560    859201    355861         0
-16    102731    220446    158899         0
-15    169386    329937    104490         0
-14     79795    370366    166655         0
-13    513384    799687    422538      1887
-12    807837    360161    926852    415449
-11   4395896    669399   4282138   1167018
-10   1360444    963792   1146445    484560
-9    4019681   2785858   4229549   1503321
-8     505953   1389443    280472    341180
-7    1418587   2382825   1745756   1001771
-6    1443162    442322    649577    105623
-5    5691028   3661640   7123360   1123169
-4    2358759   1902618   1026952     15061
-3    7593738   9336788   9156685    395750
-2    2885871   2277138   1811643   1462072
-1   29317633  31518372  29257131  31708797
0     1706784   4347178   2403696   2801997
1    43996699  47340512  43472757  50296929
2     3393448   2841136   2117681   2202616
3     9517134  11650960  11302114    394561
4     2935512   2793068   1296730     15053
5     7573281   4989375   9350578    741882
6     1685501    614499    797613     77304
7     2058611    358353   2503014    293745
8      478932     49581    271511    230020
9      274952    324536    203000   1272645
10      20611     89974     89815    251483
11     316387    436282    203361       107
12      27894    107141    139904         0
13     236471    585739    156364         0
14      28665     96427    106113         0
15      70556    260769     45580         0
16      11285     64190     35769         0
17         31      2543      1319         0
18          0         6         0         0

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [ ]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [ ]:
plt.legend()
plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)