In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [ ]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"
results_dir = "maximal_independent"

In [4]:
filename = "rank_effects_by_node_avg__graph_10"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

    node  -11  -9  -7  -5  -4  -3  -2   -1    0    1    2    3  4  5  9  11
0      0    0   1   0   1   1   2  65  855  198  855   65    2  1  1  1   0
1      1    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0
2      2    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0
3      3    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0
4      4    1   0   0   2   0   2  94  838  174  838   94    2  0  2  0   1
5      5    0   0   0   0   0   0   1    0   12  590  308  110  0  2  1   0
6      6    0   0   0   0   0   0   1    0   12  590  308  110  0  2  1   0
7      7    0   1   0   1   1   2  65  855  198  855   65    2  1  1  1   0
8      8    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0
9      9    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0
10    10    0   0   1   0   0   1   0    0    3  804  120   92  2  1  0   0

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9,Node_10
-11,0,0,0,0,1,0,0,0,0,0,0
-9,1,0,0,0,0,0,0,1,0,0,0
-7,0,1,1,1,0,0,0,0,1,1,1
-5,1,0,0,0,2,0,0,1,0,0,0
-4,1,0,0,0,0,0,0,1,0,0,0
-3,2,1,1,1,2,0,0,2,1,1,1
-2,65,0,0,0,94,1,1,65,0,0,0
-1,855,0,0,0,838,0,0,855,0,0,0
0,198,3,3,3,174,12,12,198,3,3,3
1,855,804,804,804,838,590,590,855,804,804,804
2,65,120,120,120,94,308,308,65,120,120,120
3,2,92,92,92,2,110,110,2,92,92,92
4,1,2,2,2,0,0,0,1,2,2,2
5,1,1,1,1,2,2,2,1,1,1,1
9,1,0,0,0,0,1,1,1,0,0,0
11,0,0,0,0,1,0,0,0,0,0,0

In [8]:
columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']

dft = dft[columns]
dft

     Node_0  Node_4  Node_7  Node_9
-11       0       1       0       0
-9        1       0       1       0
-7        0       0       0       1
-5        1       2       1       0
-4        1       0       1       0
-3        2       2       2       1
-2       65      94      65       0
-1      855     838     855       0
0       198     174     198       3
1       855     838     855     804
2        65      94      65     120
3         2       2       2      92
4         1       0       1       2
5         1       2       1       1
9         1       0       1       0
11        0       1       0       0

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [13]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [14]:
plt.legend()
plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)