In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"

In [4]:
filename = "rank_effects_by_node_avg__graph_7"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

,node,-19,-18,-17,-16,-15,-14,-13,-12,-11,...,8,9,10,11,12,13,14,15,16,17
0,0,0,10629,9273,6612,5487,105212,745600,235922,890585,...,78511,182115,25803,9510,2124,8436,108,3156,0,0
1,1,2407,1711,3957,1958,4637,29030,203336,60655,252356,...,16388,57974,55767,195001,18484,2782,324,1731,1600,2417
2,2,2407,1711,3957,1958,4637,29030,203336,60655,252356,...,16388,57974,55767,195001,18484,2782,324,1731,1600,2417
3,3,2407,1711,3957,1958,4637,29030,203336,60655,252356,...,16388,57974,55767,195001,18484,2782,324,1731,1600,2417
4,4,0,0,183,17383,75785,46474,181851,67644,167203,...,74162,184644,63877,190662,16825,12,0,0,0,0
5,5,0,0,183,23158,89358,129726,883489,240680,926046,...,93223,264686,32453,30950,7911,5384,1761,22,0,0
6,6,0,0,0,0,109,26986,188402,51897,208637,...,7320,27289,49640,182578,16961,12,0,0,0,0
7,7,0,0,0,0,109,26986,188402,51897,208637,...,7320,27289,49640,182578,16961,12,0,0,0,0
8,8,0,0,0,0,109,26986,188402,51897,208637,...,7320,27289,49640,182578,16961,12,0,0,0,0
9,9,0,0,0,0,109,26986,188402,51897,208637,...,7320,27289,49640,182578,16961,12,0,0,0,0

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

,Node_0,Node_1,Node_2,Node_3,Node_4,Node_5,Node_6,Node_7,Node_8,Node_9
-19,0,2407,2407,2407,0,0,0,0,0,0
-18,10629,1711,1711,1711,0,0,0,0,0,0
-17,9273,3957,3957,3957,183,183,0,0,0,0
-16,6612,1958,1958,1958,17383,23158,0,0,0,0
-15,5487,4637,4637,4637,75785,89358,109,109,109,109
-14,105212,29030,29030,29030,46474,129726,26986,26986,26986,26986
-13,745600,203336,203336,203336,181851,883489,188402,188402,188402,188402
-12,235922,60655,60655,60655,67644,240680,51897,51897,51897,51897
-11,890585,252356,252356,252356,167203,926046,208637,208637,208637,208637
-10,94502,74624,74624,74624,51958,83417,60224,60224,60224,60224
-9,221362,161577,161577,161577,238800,289895,108865,108865,108865,108865
-8,77181,23197,23197,23197,51426,95258,14490,14490,14490,14490
-7,711282,201799,201799,201799,200134,915624,169830,169830,169830,169830
-6,107655,5113,5113,5113,24324,169037,5469,5469,5469,5469
-5,1404562,124162,124162,124162,162264,1517050,117401,117401,117401,117401
-4,214272,1109,1109,1109,33979,222493,671,671,671,671
-3,1220040,29078,29078,29078,213434,1225480,32759,32759,32759,32759
-2,405634,210634,210634,210634,249954,333499,194164,194164,194164,194164
-1,5124837,5682747,5682747,5682747,7176320,5225912,5767884,5767884,5767884,5767884
0,238262,546716,546716,546716,370753,273823,461914,461914,461914,461914
1,7553105,9137845,9137845,9137845,10807512,7373059,9463668,9463668,9463668,9463668
2,470498,344880,344880,344880,354286,351912,328186,328186,328186,328186
3,1520002,29388,29388,29388,232050,1427697,31703,31703,31703,31703
4,272634,1109,1109,1109,35072,260884,661,661,661,661
5,1777918,96355,96355,96355,173191,1843219,87795,87795,87795,87795
6,140642,4020,4020,4020,25200,161085,4365,4365,4365,4365
7,899137,107852,107852,107852,139518,1060666,84840,84840,84840,84840
8,78511,16388,16388,16388,74162,93223,7320,7320,7320,7320
9,182115,57974,57974,57974,184644,264686,27289,27289,27289,27289
10,25803,55767,55767,55767,63877,32453,49640,49640,49640,49640
11,9510,195001,195001,195001,190662,30950,182578,182578,182578,182578
12,2124,18484,18484,18484,16825,7911,16961,16961,16961,16961
13,8436,2782,2782,2782,12,5384,12,12,12,12
14,108,324,324,324,0,1761,0,0,0,0
15,3156,1731,1731,1731,0,22,0,0,0,0
16,0,1600,1600,1600,0,0,0,0,0,0
17,0,2417,2417,2417,0,0,0,0,0,0

In [8]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [9]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [10]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [11]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(df.index)])

In [12]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [13]:
plt.legend()
plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/{filename}.png", dpi=500)