In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"
# results_dir = "maximal_independent_set"

In [ ]:
filename = "rank_effects_by_node_avg__test_graph_13"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

   node  -8  -7  -6   -5  -4  -3  -2   -1    0    1    2    3   4   5  6
0     0  12  40  24   59  32  77  91  632  132  980  139  129  26   3  0
1     1   9  45  26   59  22  77  67  673  214  957   96   97  13  19  2
2     2  17  50  29   68   9  79  72  704  147  915  111  137  17  18  3
3     3  13  55  15  114  17  63  44  686  249  936   51   57  14  59  3

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

    Node_0  Node_1  Node_2  Node_3
-8      12       9      17      13
-7      40      45      50      55
-6      24      26      29      15
-5      59      59      68     114
-4      32      22       9      17
-3      77      77      79      63
-2      91      67      72      44
-1     632     673     704     686
0      132     214     147     249
1      980     957     915     936
2      139      96     111      51
3      129      97     137      57
4       26      13      17      14
5        3      19      18      59
6        0       2       3       3

In [8]:
# columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']
# columns = ['Node_1', 'Node_3', 'Node_5', 'Node_8']

# dft = dft[columns]
dft

    Node_0  Node_1  Node_2  Node_3
-8      12       9      17      13
-7      40      45      50      55
-6      24      26      29      15
-5      59      59      68     114
-4      32      22       9      17
-3      77      77      79      63
-2      91      67      72      44
-1     632     673     704     686
0      132     214     147     249
1      980     957     915     936
2      139      96     111      51
3      129      97     137      57
4       26      13      17      14
5        3      19      18      59
6        0       2       3       3

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [13]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [14]:
plt.legend()
plt.tight_layout()
# plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)