In [1]:
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd

In [3]:
results_dir = "coloring"
results_dir = "coloring"
results_dir = "maximal_matching"
# results_dir = "maximal_independent_set"

In [4]:
filename = "rank_effects_by_node_avg__test_graph_12"

In [5]:
df = pd.read_csv(f"results/{results_dir}/{filename}.csv")

In [6]:
df

   node    -3   -2     -1    0      1    2     3
0     0  1871  177   6144  165  12123  189  3907
1     1     0   95   8097    0  16194  190     0
2     2     0   95   8097    0  16194  190     0
3     3     0   95   8097    0  16194  190     0
4     4     0   95   8097    0  16194  190     0
5     5     0   95   8097    0  16194  190     0
6     6     0    0  10053  561  13962    0     0

In [7]:
dft = df.transpose()
dft.drop(['node'], inplace=True)
dft = dft.add_prefix('Node_')
dft

    Node_0  Node_1  Node_2  Node_3  Node_4  Node_5  Node_6
-3    1871       0       0       0       0       0       0
-2     177      95      95      95      95      95       0
-1    6144    8097    8097    8097    8097    8097   10053
0      165       0       0       0       0       0     561
1    12123   16194   16194   16194   16194   16194   13962
2      189     190     190     190     190     190       0
3     3907       0       0       0       0       0       0

In [8]:
# columns = ['Node_0', 'Node_4', 'Node_7', 'Node_9']
# columns = ['Node_1', 'Node_3', 'Node_5', 'Node_8']

# dft = dft[columns]
dft

    Node_0  Node_1  Node_2  Node_3  Node_4  Node_5  Node_6
-3    1871       0       0       0       0       0       0
-2     177      95      95      95      95      95       0
-1    6144    8097    8097    8097    8097    8097   10053
0      165       0       0       0       0       0     561
1    12123   16194   16194   16194   16194   16194   13962
2      189     190     190     190     190     190       0
3     3907       0       0       0       0       0       0

In [9]:
plt.ioff()
plt.figure(figsize=(20, 8))

In [10]:
plt.ioff()
ax = sns.lineplot(dft, linewidth=2, markersize=10)

In [11]:
markers = ('.', 'o', 'v', '^', '<', '>', '8', 's', 'p', '*', 'h', 'H', 'D', 'd', 'P', 'X')

In [12]:
for i, line in enumerate(ax.lines):
    line.set_marker(markers[i % len(dft.columns)])

In [13]:
def parse_filename(filename):
    graph_type, graph = filename.split('__')
    return f"Full Analysis - Program: {results_dir} | Graph: {graph} | Type: {graph_type}"

In [14]:
plt.legend()
plt.tight_layout()
# plt.title(parse_filename(filename))
plt.xlabel("Rank Effect (-ve/+ve)")
plt.ylabel("Count")
# plt.show()
plt.savefig(f"plots/{results_dir}/full_analysis__{filename}.png", dpi=500)